@import "compass";
@import "mixins";

 $maincolor: #232222;
 $maincolor-dark: #000000;
 $maincolor-light: #CAC8C8;
 
 $primary-1: #1b4754;  
 $primary-2: #397173;
 $primary-3: #f79646;
 
 $maingrey: #4a4a4a;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #CB8C2C;
 $secondary-light: #CB8C2C;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;

@media (max-width: 979px) {

	
	html.aui body[class~="core-4"] {
	}
	html.aui body[class~="core-4"] #wrapper > div#content {
	}
	
	/*Account Menu*/	
	html.aui body.dockbar-split[class~="core-4"] .dockbar .navbar-inner .nav-account-controls {
 	  background-color: $maincolor;
	}
	html.aui body[class~="core-4"] .dockbar .navbar-inner .nav > li, 
	html.aui body.dockbar-split[class~="core-4"] .dockbar .navbar-inner .nav > li {
	}
	html.aui body.dockbar-split[class~="core-4"] .dockbar .navbar-inner .nav-add-controls > li {
	  background-color: rgba(0, 0, 0, 0);
	  background-image: none;
	}
	html.aui body[class~="core-4"] .dockbar .navbar-inner .nav > li.divider-vertical {
	}
	html.aui body.dockbar-split[class~="core-4"] .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
	html.aui body.dockbar-split[class~="core-4"] .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover, 
	html.aui body[class~="core-4"] .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
	html.aui body[class~="core-4"] .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover {
	  background-color: $maincolor-dark;
	  color: #fff;
	}
			
	html.aui body.signed-in[class~="core-4"] .dockbar .navbar-inner .container #_145_navAccountControlsNavbarBtn.btn-navbar {
		
	}
	
	/*Navigation Menu*/
	html.aui body[class~="core-4"] .menu-wrap {
	}
	html.aui body[class~="core-4"] #navigation .navbar-inner li a{
	}
	html.aui body[class~="core-4"] ul.nav.nav-collapse li a > div{
	}
	html.aui body[class~="core-4"] .site-navigation .lfr-nav-item a span {
	}
	html.aui body[class~="core-4"] .nav-collapse, 
	html.aui body[class~="core-4"] .nav-collapse.collapse {
	}
	html.aui body[class~="core-4"] #navigation .navbar-inner {
	}
	html.aui body[class~="core-4"] #navigation {
	}
	
	
	html.aui body[class~="core-4"] {
		

/* 		Dockbar */

		.portlet-dockbar {
		}
		.dockbar {
		  	background-color: transparent;
		}
		.dockbar .navbar-inner .nav-collapse, .aui .dockbar .navbar-inner .nav-collapse {
		  z-index: auto;
		}
		.dockbar .navbar-inner .container .btn-navbar {
		  color: $maincolor;
		}
		.dockbar .navbar-inner .container .btn-navbar#_145_navAccountControlsNavbarBtn {
		}
		.dockbar .container .btn .user-avatar-image {
		}

		.navbar .container .btn-navbar:focus,
		.navbar .container .btn-navbar.active, 
		.navbar .container .btn-navbar.disabled, 
		.navbar .container .btn-navbar[disabled] {
		  background-color: transparent;
		}
		.dockbar .navbar-inner .container .btn-navbar:hover,
		.dockbar .navbar-inner .container .btn-navbar.pressed{
		  background-color: $maincolor;
		  color: #fff;
		}
		
		
/* 		Search Button */

		button#showHideSearch, 
		button#showHideSearch:active {
		  background: none repeat scroll 0 0 transparent;
		  color: $maincolor;
		}
		button#showHideSearch:hover,
		button#showHideSearch.pressed{
		  background: none repeat scroll 0 0 transparent;
		  opacity: .8;
		}
		
/* 		Search Panel */
		.searchDiv > form {
		}
		.searchDiv input[type="text"] {
		}

		
/* 		Header Logo */
		#heading {
		}
		#heading .site-title {
		}
  		#heading .site-title a {
		}
		#heading .site-title img {
		}
	}
	
}
 
 
@media (max-width: 767px) {

	html.aui body[class~="core-4"] {
 	
 			#languageDiv {
			  background-color: transparent;
/* 			  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset; */
			}
			#langLbl{
			}
			#languages {
			}
			.openLang #languages {
			 }
			.openLang #languages::before {
			}
			.taglib-language-list-text {
			}
			span.taglib-language-list-text {
			  color: #fff;
			}
	}
 }
 

@media (max-width: 480px) {
	
	html.aui body[class~="core-4"] {
	
		#wrapper #main-content .portlet-login section {
		}
	
		.columns-max .portlet-topper menu.portlet-topper-toolbar {
		}
		
		.portlet-topper .portlet-topper-toolbar .portlet-icon-back {
			  color: transparent;
		}
		.portlet-topper .portlet-topper-toolbar .portlet-icon-back::before {
		  color: $maincolor;
		}
		
	}
}


 
 