@import "compass";
@import "mixins";

@import url(color_schemes/core-1/login-portlet.css);
@import url(color_schemes/core-2/login-portlet.css);
@import url(color_schemes/core-3/login-portlet.css);
@import url(color_schemes/core-4/login-portlet.css);
@import url(color_schemes/core-5/login-portlet.css);

 $maincolor: #38ADC7;
 $maincolor-dark: #008AA9;
 $maincolor-light: #88CEDD;
 
 $maincolor-composed: #004454;
 
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;


$W: 100%;
$H: 100%;
$centerW: $W / 2;
$centerH: $H / 2;
$loginW: $W / 2;
$loginH: $H / 2;
$loginposW: $centerW;
$loginposH: $centerH - ($loginH * 3) / 4;

/*************************GENERAL*/

html.aui body {
	
		
	/*With Border*/
	#main-content .portlet-login {
/*   	  background: url("@theme_image_path@/custom/login-bak.jpg") no-repeat scroll center top / cover  $maincolor; */
	  border-radius: 0;
	  height: 100%;
	  left: 0;
	  margin: 0;
/* 	  position: fixed; */
	  top: 0;
	  width: 100%;
	  z-index: 100;
	}
	
	#main-content .portlet-login section{
/* 	    background: url("@theme_image_path@/custom/sg-logo.png") no-repeat scroll center top / 240px auto rgba(0, 0, 0, 0); */
	    padding-top: 1px;
	    margin-top: 3em;
	    height: $loginH;
	}
	
	#main-content .portlet-login .portlet-content {
	  box-shadow: none;
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;
	  background-color: transparent;
	}
	
	.portlet-login section .portlet-body{
	    margin-top: $loginposH;
	}
	
	.control-group {
	    margin-bottom: 20px;
	}
	
	/*Borderless*/

	#main-content .portlet-borderless.portlet-login {
/* 	  background: url("@theme_image_path@/custom/login-bak.jpg") no-repeat scroll center top / cover  $maincolor; */
	  border-radius: 0;
	  height: 100%;
	  left: 0;
	  margin: 0;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 100;
	}
	

	.portlet-login .portlet-borderless-container {
/* 	    background: url("@theme_image_path@/custom/sg-logo.png") no-repeat scroll center top / 240px auto rgba(0, 0, 0, 0); */
	    padding-top: 1px;
	    margin-top: 5em;
	    height: $loginH;
	}
	
	.portlet-login .portlet-borderless-container .portlet-body{
	    margin-top: $loginposH;
	}
	
	.portlet-login .form {
	  	margin: 0 5% 20px;
	}
	
	.portlet-login .form.sign-in-form {
	    background-color: #FFFFFF;
	    border-radius: 2px;
	    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	    margin: 2em auto;
	    max-width: 25em;
	    min-width: 16em;
	    padding: 30px 30px 15px;
	    width: 30%;
	}
	
	.portlet-login input.field {
	  width: 96%;
	}
	
	.portlet-login .checkbox .field {
	  width: auto;
	}
	
	.portlet-login .button-holder {
	  margin: 0 0 10px;
	}
	
	.portlet-login .btn-primary {
	  background-color: transparent;
	  background-image: none;
	  border-color: transparent;
	  box-shadow: none;
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;
	  color: #555;
	  display: inline-block;
	  float: right;
	  font-size: 14px;
	  height: auto;
	  margin: 0;
	  padding: 0 12px;
	  text-shadow: none;
	  width: auto;
	}
	
	.portlet-login .navigation {
	  background: none repeat scroll 0 0 transparent;
	  border-top: 1px solid #bfbfbf;
	  padding: 10px;
	}
	.portlet-login .navigation ul {
	  display: flex;
	  display: -webkit-flex;
	  -webkit-flex-direction: row;
  	  flex-direction: row;
	  justify-content: center;
	  -webkit-justify-content: center;
	}
	.portlet-login .taglib-text {
	  color: #fff;
	}
	
	.portlet-login span.control-panel-back-text.helper-hidden-accessible{
		position: relative !important;
	}
	.portlet-login a.login-back-link {
		color: #555;
		margin: 2px 0 0 0;
		float: right;
		padding: 0 12px;
	}
	.portlet-login a.login-back-link:hover {
		text-decoration: none;
	}
	
	
}


/*After session died*/
html.aui body.signed-out {
	
	.portlet-login .portlet-topper {
	  top: 50px;
	}
	#main-content .portlet-login .portlet-title-text {
	  font-size: 18px;
	  font-weight: 400;
	  margin: 0 10px;
	}
	
	#heading > a#sign-in {
	  float: right;
	  margin-right: 20px;
	  margin-top: -35px;
	}
}


@media (max-width: 480px) {
	
	html.aui body {
		.portlet-login .control-group {
		  margin-bottom: 10px;
		}
	}
}

