@import "compass";
@import "mixins";

@import url(color_schemes/core-1/social-office.css);
@import url(color_schemes/core-2/social-office.css);
@import url(color_schemes/core-3/social-office.css);
@import url(color_schemes/core-4/social-office.css);
@import url(color_schemes/core-5/social-office.css);

 $maincolor: #38ADC7;
 $maincolor-dark: #008AA9;
 $maincolor-light: #88CEDD;
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;



/*************************GENERAL*/

.aui *::-moz-selection {
/*   background: none repeat scroll 0 0 $maincolor !important; */
  color: #FFFFFF;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
}




html.aui .dockbar-split .dockbar .navbar-inner .container .nav.nav-account-controls, 
html.aui .dockbar-split .dockbar.navbar-static-top .collapse .nav.nav-account-controls {
  	
/*   	top: 0.4em; */
	top: 28px;
}

html.aui .dockbar .navbar-inner .container .nav-account-controls .user-avatar-link img.user-avatar-image,
html.aui .dockbar-split .dockbar .navbar-inner .container .nav-account-controls .user-avatar-link img.user-avatar-image,
html.aui .dockbar.navbar-static-top .dockbar .navbar-inner .container .nav-account-controls .user-avatar-link img.user-avatar-image{
	
/* 	border: 2px solid $maincolor-dark; */
    border-radius: 50%;
/*     box-shadow: 0 0 0 0 $maincolor-dark; */
	
	margin: -2px 0 0;
    text-decoration: none;
    vertical-align: middle;
    width: 20px;
    
    height: 20px;
    max-width: 100%;
    
    position: relative;
    top: 0;
}

html.aui .dockbar .navbar-inner .container .nav-account-controls li.dropdown > .dropdown-toggle, 
html.aui .dockbar-split .dockbar .navbar-inner .container .nav-account-controls li.dropdown > .dropdown-toggle, 
html.aui .dockbar.navbar-static-top .dockbar .navbar-inner .container .nav-account-controls li.dropdown > .dropdown-toggle{
	
/* 	margin: 0 5px 0 0; */
/*     padding: 6px 5px 12px; */
    
/*     color: $maincolor-dark; */
    line-height: 24px;
}

html.aui .portlet-borderless-bar .portlet-options .dropdown-toggle, 
html.aui .portlet-borderless-bar .portlet-options.open .dropdown-toggle {
  background-image: url("@theme_image_path@/portlet/options_borderless.png");
}

html.aui .dockbar-user-notifications .user-notifications-count, 
html.aui .notifications-portlet .user-notifications-count {
  border-radius: 4px;
  display: block;
  font-weight: normal;
  font-size: 14px;
/*   color: $maincolor-dark; */
}

html.aui .dockbar .navbar-inner .container .nav-account-controls.nav > li.admin-links > a, 
html.aui .dockbar-split .dockbar .navbar-inner .container .nav-account-controls.nav > li.admin-links > a, 
html.aui .dockbar.navbar-static-top .dockbar .navbar-inner .container .nav-account-controls.nav > li.admin-links > a {
  	
  	line-height: inherit;
  	min-height: inherit;
}


/* *** notifications-portlet-userNotifications *** */
	
	html.aui body[class*="core"] .dockbar-user-notifications .user-notifications-count.alert, 
	html.aui body[class*="core"] .notifications-portlet .user-notifications-count.alert {
/* 	  background: none repeat scroll 0 0 $maincolor-dark; */
	  border-radius: 4px;
	  border-width: 0;
/* 	  color: $white; */
	  font-size: 13px;
	  font-weight: normal;
	  margin: 0;
	  padding: 5px 10px;
	}


/* **** go-to portlet **** */

	html.aui body[class*="core"].dockbar-split .go-to {
	  height: auto;
	  display: none !important; /* Nasconde la "Go-To" portlet*/
	}
	
	html.aui body[class*="core"].dockbar-split .go-to .so-portlet-sites .portlet-content,
	html.aui body[class*="core"].dockbar-split .go-to .so-portlet-sites .portlet-content:hover {
	  box-shadow: none;
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;
	}
	
	html.aui body[class*="core"].dockbar-split .go-to .portlet-borderless-bar {
	  display: none;
	}
	
	html.aui body[class*="core"] .go-to .so-portlet-sites .portlet-borderless-container {
	  background: none repeat scroll 0 0 transparent;
	  margin: 0;
	}
	
	html.aui body[class*="core"] .go-to .so-portlet-sites .portlet-borderless-container .portlet-body{
	  	padding: 3.4em 0 0;
	}
	
	html.aui body[class*="core"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites .portlet-borderless-container .search {
	  margin: 12px 0;
	  padding: 0 1em;
	  top: 14px;
	}
	html.aui body[class*="core"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites section .search {
	  	margin: 12px 8px;
    	padding: 0 0.5em;
    	top: 6px;
	}
	
	html.aui body[class*="core"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites .search .search-input {
/* 	  border: 2px solid $maincolor-dark; */
	  border-radius: 2px;
	  box-shadow: none;
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;
/* 	  color: $maincolor; */
	  font-weight: normal;
	  height: 16px;
	  margin: 0;
	  padding: 2px 4px;
	  text-indent: 0.6em;
	}

	html.aui body[class*="core"] .portlet-dockbar .so-portlet-sites .portlet-body {
	  border-radius: 2px;
	  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
	  -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
	  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
	  padding-top: 4em;
	}
	
	html.aui body[class*="core"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites .btn.btn-content {
	  background-color: #ffffff;
	  background-image: none;
	  border: 0 none;
/* 	  color: $maincolor; */
	  display: inline-block;
	  font-size: 14px;
	  font-variant-caps: all-small-caps;
	  height: 36px;
	  line-height: 36px;
	  min-width: 64px;
	  padding: 0 8px;
	  text-align: center;
	  vertical-align: middle;
	}
	html.aui body[class*="core"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites .btn.btn-content:hover {
    	background-color: rgba(153, 153, 153, 0.2);
    	 background-image: none;
	}


/* Restyling in Materialize FROM SOCIAL OFFICE theme */

	html.aui body[class*="core"] #heading #logo-container .icon-logo-return.icon-arrow-left {
	  display: inline-block;
	  font-size: 1.5em;
	  padding-right: 10px;
	  vertical-align: middle;
	  width: auto;
	}
	
	html.aui body[class*="core"] .innerMaterialize #_145_navAddControlsNavbarCollapse{
	/* 	display: none; 	*/
	}
	
	/*info button*/
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.info-items + li a.info-link {
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.info-items.hide + li a.info-link {
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.info-items.hide + li a.info-link:hover {
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls .page-customization-bar {
	  left: 0;
	  position: fixed;
	  right: 0;
	  text-align: center;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li div.info-button {
	  border: 1px solid transparent;
	  cursor: pointer;
	  display: block;
	  margin: 0 15px 0 10px;
	  top: -1px;
	  z-index: 1;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li div.info-button .diamond {
	  display: none;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a.info-link {
	  margin: 0;
	  background-color: transparent;
	}

	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a.info-link .icon-info {
	  display: block;
	  float: none;
	  font-size: 1em;
	  font-weight: 200;
	  line-height: 64px;
	  margin: 0;
	  padding: 0;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a.info-link:hover .icon-info {
	 }

