@import "compass";
@import "mixins";

 $color1: #82933B;
 $color2: #252B32;
 $color3: #B3B980;
 
 
.core-1 #loader:after {
  animation: animate2core1 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%; 
  height: 80px;
  width: 80px;
  position: absolute; 
} 

 @keyframes animate2core1 {
  0% {
    box-shadow: inset $color1 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset $color2 0 0 0 2px;
  }
  100% {
    box-shadow: inset $color3 0 0 0 17px;
    transform: rotate(140deg);
  }
}

