@import "compass";
@import "mixins";

 $maincolor: #38ADC7;
 $maincolor-dark: #008AA9;
 $maincolor-light: #88CEDD;
 
 $maincolor-composed: #004454;
 
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;

.core-1 .menu-wrap a {
	color: #555d7c;
}

.core-1 .menu-wrap a:hover,
.core-1 .menu-wrap a:focus {
	color: #fffce1;
}


/* Common styles for menu button and menu-wrap */
.core-1 .menu-button,
.core-1 .menu-wrap {
}

/* Menu Button */

html.aui .core-1 .menu-button {
  background: none repeat scroll 0 0 $maincolor;
  color: white;
}
html.aui .core-1 .menu-button:hover,
html.aui .core-1 .menu-button.pressed {
  color: $maincolor-dark;
}

/* Menu */

.core-1 .menu-wrap {
  background: none repeat scroll 0 0 $maincolor-dark;
}

.core-1 .menu {
}

.core-1 .icon-list {
}

.core-1 .icon-list a {
}

.core-1 .icon-list a span {
}

@media screen and (max-width: 50em) {
	.core-1 .icon-list a {
	}
	.core-1 .icon-list a span {
	}
}

/* Shown menu */

.core-1 .show-menu .menu-wrap {
}

/*Icona generica per il menu*/
.core-1 ul.nav.nav-collapse li .menu-image::before {
	  content: "\f15b"; /* icon file2 */
	  color: $maincolor;
}
.core-1 ul.nav.nav-collapse li.hover .menu-image::before,
.core-1 ul.nav.nav-collapse li.active .menu-image::before {
    color: #fff;
}


/*SOCIALGOV - Icone Nav in base alla posizione*/
.core-1 ul.nav.nav-collapse li:nth-child(2) .menu-image::before {
  content: "\f0eb";
}
.core-1 ul.nav.nav-collapse li:nth-child(1) .menu-image::before{
	content: "\f015"; /*Home - icon-home*/
}
.core-1 ul.nav.nav-collapse li:nth-child(2) .menu-image::before{
	content: "\f0eb"; /*Ideario - icon-lightbulb*/
}
.core-1 ul.nav.nav-collapse li:nth-child(3) .menu-image::before{
	content: "\f0f1"; /*Sanita - icon-stethoscope*/
}
.core-1 ul.nav.nav-collapse li:nth-child(4) .menu-image::before{
	content: "\f0db"; /*Vetrina - icon-columns*/
}
.core-1 ul.nav.nav-collapse li:nth-child(5) .menu-image::before{
	content: "\f07a"; /*Marketplace - icon-shopping-cart*/
}
.core-1 ul.nav.nav-collapse li:nth-child(6) .menu-image::before{
	content: "\f12e"; /*Visual Mashup editor - icon-puzzle*/
}
.core-1 ul.nav.nav-collapse li:nth-child(7) .menu-image::before{
	content: "\f085"; /*Composer - icon-cogs*/
}
.core-1 ul.nav.nav-collapse li:nth-child(8) .menu-image::before{
	content: "\f004"; /*e-inclusion - icon-heart*/
}
.core-1 ul.nav.nav-collapse li:nth-child(9) .menu-image::before{
	content: "\f080"; /*Sentiment - icon-bar-chart*/
}
.core-1 ul.nav.nav-collapse li:nth-child(10) .menu-image::before{
	content: "\f059"; /*Topic detection - icon-question-sign*/
}
.core-1 ul.nav.nav-collapse li:nth-child(11) .menu-image::before{
	content: "\f0f8"; /*Sanita Ente - icon-hospital*/
}	


.core-1 .show-menu .icon-list a {
}

.core-1 .show-menu .icon-list a:nth-child(2) {
}

.core-1 .show-menu .icon-list a:nth-child(3) {
}

.core-1 .show-menu .icon-list a:nth-child(4) {
}

.core-1 .show-menu .icon-list a:nth-child(5) {
}

.core-1 .show-menu .icon-list a:nth-child(6) {
}