@import "compass";
@import "mixins";

 $maincolor: #232222;
 $maincolor-dark: #000000;
 $maincolor-light: #CAC8C8;
 
 $logo1: #252B32;	/*Dark*/
 $logo2: #82933B;	/*Green*/
 $logo3: #B3B980;	/*light Green*/
 
 $maincolor-composed: #004454;
 
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;
 

/* *** General *** */



/* **** so-portlet-user-bar **** */
	
.core-1.display-panel-columns .so-portlet-user-bar{
	display: none;
}

.core-1 {

	
	.so-portlet-user-bar, 
	.so-portlet-user-bar:hover, 
	.so-portlet-user-bar:visited, 
	.so-portlet-user-bar:active {
	  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	  color: $maincolor-dark;
	}
	
	.so-portlet-user-bar ul, 
	.so-portlet-user-bar li {
	}
	
	
	.so-portlet-user-bar a.so-logo:before {
		content: "\f0c0"; /*icon-group*/
		font-family: "fontawesome-alloy";
	}
	
	.so-portlet-user-bar a.so-logo {
	  background: none repeat scroll 0 0 $maincolor;
	  color: white;
	}
	.so-portlet-user-bar a.so-logo i[class^="icon"] {
	}
	.so-portlet-user-bar a.so-logo img {
	}
	
	
	.so-portlet-user-bar a.so-logo:hover, 
	.so-portlet-user-bar a.so-logo:active {
	  background: none repeat scroll 0 0 $maincolor;
	  color: $maincolor-light;	
	 }
	
	.so-portlet-user-bar a.dropdown-toggle.openso {
	  background-color: $maincolor;
	  background-image: none;
	  color: $maincolor-dark;
	}
	
	.so-portlet-user-bar nav {
	}
	.so-portlet-user-bar nav.openso {
		  	display: block;
	}
		
	.so-portlet-user-bar .dashboard-nav {
		  background: none repeat scroll 0 0 $maincolor;
		  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	}
	
	.so-portlet-user-bar nav ul.dashboard-nav li a {
	  color: #ffffff;
	}
	.so-portlet-user-bar nav ul.dashboard-nav li a:hover{
		  color: #FFFFFF !important;
		  background: $maincolor-dark;
	}
	
		
	
}

