@import "compass";
@import "mixins";


 $maincolor: #232222;
 $maincolor-dark: #000000;
 $maincolor-light: #CAC8C8;
 
 $logo1: #252B32;	/*Dark*/
 $logo2: #82933B;	/*Green*/
 $logo3: #B3B980;	/*light Green*/
 
 $red: #F7323F;	/*red*/
 
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;



/*************************GENERAL*/

.aui *::-moz-selection {
  background: none repeat scroll 0 0 $maincolor !important;
  color: #FFFFFF;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
}




html.aui .core-1.dockbar-split .dockbar .navbar-inner .container .nav.nav-account-controls, 
html.aui .core-1.dockbar-split .dockbar.navbar-static-top .collapse .nav.nav-account-controls {
}

html.aui .core-1 .dockbar .navbar-inner .container .nav-account-controls .user-avatar-link img.user-avatar-image,
html.aui .core-1.dockbar-split .dockbar .navbar-inner .container .nav-account-controls .user-avatar-link img.user-avatar-image,
html.aui .core-1 .dockbar.navbar-static-top .dockbar .navbar-inner .container .nav-account-controls .user-avatar-link img.user-avatar-image{
	
	border: 2px solid $maincolor-dark;
    box-shadow: 0 0 0 0 $maincolor-dark;
	-moz-box-shadow: 0 0 0 0 $maincolor-dark;
	-webkit-box-shadow: 0 0 0 0 $maincolor-dark;
}

html.aui .core-1 .dockbar .navbar-inner .container .nav-account-controls li.dropdown > .dropdown-toggle, 
html.aui .core-1.dockbar-split .dockbar .navbar-inner .container .nav-account-controls li.dropdown > .dropdown-toggle, 
html.aui .core-1 .dockbar.navbar-static-top .dockbar .navbar-inner .container .nav-account-controls li.dropdown > .dropdown-toggle{
}

html.aui .core-1 .portlet-borderless-bar .portlet-options .dropdown-toggle, 
html.aui .core-1 .portlet-borderless-bar .portlet-options.open .dropdown-toggle {
  background-image: url("@theme_image_path@/portlet/options_borderless.png");
}

html.aui .core-1 .dockbar-user-notifications .user-notifications-count, 
html.aui .core-1 .notifications-portlet .user-notifications-count {
  color: $maincolor-dark;
}

html.aui .core-1 .dockbar .navbar-inner .container .nav-account-controls.nav > li.admin-links > a, 
html.aui .core-1.dockbar-split .dockbar .navbar-inner .container .nav-account-controls.nav > li.admin-links > a, 
html.aui .core-1 .dockbar.navbar-static-top .dockbar .navbar-inner .container .nav-account-controls.nav > li.admin-links > a {
}


/* *** notifications-portlet-userNotifications *** */
	
	html.aui body[class~="core-1"] .dockbar-user-notifications .user-notifications-count.alert, 
	html.aui body[class~="core-1"] .notifications-portlet .user-notifications-count.alert {
	  background: none repeat scroll 0 0 $maincolor-dark;
	  color: $white;
	}


/* **** go-to portlet **** */

	html.aui body[class~="core-1"].dockbar-split .go-to {
	}
	
	html.aui body[class~="core-1"].dockbar-split .go-to .so-portlet-sites .portlet-content,
	html.aui body[class~="core-1"].dockbar-split .go-to .so-portlet-sites .portlet-content:hover {
	}
	
	html.aui body[class~="core-1"].dockbar-split .go-to .portlet-borderless-bar {
	}
	
	html.aui body[class~="core-1"] .go-to .so-portlet-sites .portlet-borderless-container {
	  background: none repeat scroll 0 0 transparent;
	}
	
	html.aui body[class~="core-1"] .go-to .so-portlet-sites .portlet-borderless-container .portlet-body{
	}
	
	html.aui body[class~="core-1"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites .portlet-borderless-container .search {
	}
	html.aui body[class~="core-1"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites section .search {
	}
	
	html.aui body[class~="core-1"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites .search .search-input {
	  border: 2px solid $maincolor-dark;
	  color: $maincolor;
	}

	html.aui body[class~="core-1"] .portlet-dockbar .so-portlet-sites .portlet-body {
	}
	
	html.aui body[class~="core-1"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites .btn.btn-content {
	  background-color: #ffffff;
	  color: $maincolor;
	}
	html.aui body[class~="core-1"] .portlet-dockbar .nav-account-controls .go-to .so-portlet-sites .btn.btn-content:hover {
    	background-color: rgba(153, 153, 153, 0.2);
    	 background-image: none;
	}



/* Restyling in Materialize */

	html.aui body[class*="core"] #heading #logo-container .icon-logo-return.icon-arrow-left {
	}
	
	html.aui body[class*="core"] .innerMaterialize #_145_navAddControlsNavbarCollapse{
	}
		/*info button*/
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.info-items + li a.info-link {
	  	background-color: $red;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.info-items.hide + li a.info-link {
		 background-color: transparent;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.info-items.hide + li a.info-link:hover {
	  background-color: rgba(0, 0, 0, 0.1);
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls .page-customization-bar {
	  background-color: rgba(0, 0, 0, 0.6);
	  border: 4px solid $red;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li div.info-button {
	  border: 1px solid transparent;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li div.info-button .diamond {
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a.info-link {
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a.info-link .icon-info {
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a.info-link:hover .icon-info {
	  color: $maincolor;
	}
	
	