@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/variables";
@import "compass";
@import "compass/css3/user-interface";
@import "mixins";


$dockbarOpenGradientEnd: #ffffff; 
$dockbarOpenGradientStart: #efefef;

$lightMainColor: #67B2E8;
$standarLiferayWhite: #FFFFFF;

$lightAlterColor: #B6BD00;

$lightGrey: #DDD;
$standardGrey: #555;
$darkGrey: #232222;

$activeResponsiveMenu: #F5AF45;

$dockbarVerticalWidth: 240px;




/* ---------- Dockbar-vertical Responsive Styles ---------- */
	
html.aui .core.mobDockbar {

		.navbar-static-top {
			margin: 0;
		}

		#_145_navSiteNavigationNavbarBtn, #_145_navAddControlsNavbarBtn, #_145_navAccountControlsNavbarBtn {
			display: none;
		}

		.dockbar.navbar {
			.dockbar-user-notifications .dropdown-toggle .user-notifications-count,
			.user-avatar .dropdown-toggle .nav-item-label {
				display: inline;
				font-weight: 700;
			}

			.container .nav-collapse {
				display: block;
				height: auto;
				overflow: visible;
			}
		}
}

/*WELIVE - Icone Nav in base alla posizione*/

ul#nav_tools li:nth-child(1) a::before {
}
ul#nav_tools li:nth-child(2) a::before{
}
ul#nav_tools li:nth-child(3) a::before {
}
ul#nav_tools li:nth-child(4) a::before{
}
ul#nav_tools li:nth-child(5) a::before {
}
ul#nav_tools li:nth-child(6) a::before{
}
ul#nav_tools li:nth-child(7) a::before{
}

ul#nav_tools ul.child-menu li a::before {
}
ul#nav_tools ul.child-menu {
  padding-left: 10px;
}

/*ROB*/

html.aui body.core.mobDockbar {
	
	#banner #heading .nav-wrapper .logo.default-logo.brand-logo, 
	#banner #heading .nav-wrapper .logo.custom-logo.brand-logo {
	  display: flex;
	  display: -webkit-flex;
	  font-size: smaller;
	  height: 100%;
	  line-height: 56px;
	  margin: 0 0 0 10px;
	  padding: 0 10px;
	}
	
	.sign-out {
/* 	  display: none; */
	}
	.dockmobile {
	  margin-top: 20px;
	}
	.dockmobile {
	    border-bottom: 1px solid #ddd;
	    border-top: 1px solid #ddd;
	    background-color: #eee;
	}
	
	.side-nav {
	  z-index: 1001;
	}

	.side-nav li:hover, 
	.side-nav li.active {
	}
	
	.side-nav li.innerMaterialize:hover {
	}
	
	.dockbar-split .portlet-dockbar .dockbar, 
	.portlet-dockbar .dockbar {
	  float: none;
	  margin: 0;
	  position: relative;
	  top: 0;
	}
	
	.dockbar .navbar-inner .nav-collapse > .nav {
	  background: transparent none repeat scroll 0 0;
	  border-width: 0;
	  float: none;
	  left: 0;
	  margin: 0;
	  min-width: 160px;
	  padding: 0;
	  position: relative;
	  right: 0;
	  width: 100%;
	  z-index: 400;
	}
	
	.dockbar .navbar-inner .nav li a {
	  font-weight: normal;
	}
	
	.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
	.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover, 
	.dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
	.dockbar .navbar-inner .nav-collapse > .nav > li > a:hover {
	}
	
	.dockbar .navbar-inner .nav li.dropdown.dropdown {
	  clear: none;
	  display: block;
	  float: none;
	}
	.dockbar .navbar-inner .nav li.dropdown.dropdown:hover {
	}
	.dockbar .navbar-inner .nav-collapse .nav li.dropdown.open .dropdown-toggle {
	}
	
	.portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li .dropdown-menu {
	  border-radius: 0;
	  box-shadow: none;
	  float: none;
	  left: auto;
	  margin: 0;
	  max-width: 260px;
	  padding: 0;
	  position: static;
	  top: auto;
	}

	
	.dockbar-user-notifications .actionable, 
	.dockbar-user-notifications .non-actionable {
	  border-radius: 0px;
	  line-height: 32px;
	}
	
	.portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li .user-notifications-header a {
	  height: 32px;
	  line-height: 32px;
	}
	.portlet-dockbar li.dockbar-user-notifications a.dropdown-toggle span.user-notifications-count {
	  float: right;
	  line-height: 24px;
	  margin: 14px 0;
	  text-align: right;
	  vertical-align: middle;
	  width: auto;
	}
	.portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li .dropdown-menu {
	  border: 0 none;
	  position: relative;
	  top: 0;
	  z-index: 1;
	}
	
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open .dropdown-menu li > a, 
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open .dropdown-menu li > span,
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open ul.dropdown-menu li > a,
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open ul.dropdown-menu li > span {
	  display: block;
	  font-size: 16px;
	  font-weight: 400;
	  height: auto;
	  line-height: 22px;
	  padding: 14px 16px 12px;
	}
	
	.dockbar .navbar-inner .nav-account-controls .user-avatar-image {
	  display: block;
	}
	.dockbar .navbar-inner .container .nav-account-controls .user-avatar-link img.user-avatar-image {
	  border-radius: 50%;
	  height: 50px;
	  margin: 10px auto 0;
	  max-width: 100%;
	  position: relative;
	  text-decoration: none;
	  top: 0;
	  vertical-align: middle;
	  width: 50px;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li.user-avatar.dropdown.open .dropdown-menu li {
	  padding: 0;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a.user-avatar-link.dropdown-toggle {
	  padding: 2px 30px 50px;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a.user-notification-link {
	  padding: 0 30px;
	}
	.innerMaterialize .portlet-dockbar .dockbar .navbar-inner .container .nav.nav-account-controls li a i {
	  padding: 0 14px;
	}
	
	li.user-avatar ul.dropdown-menu li a .badge.site-type {
	  margin-top: -15px;
	}
	
	
/* 	Administrator buttons */

	ul.nav li.dropdown {
	  clear: none;
	  display: block;
	  float: none;
	}

	#_145_navAddControlsNavbarCollapse ul.nav {
	  display: inline-block;
	  line-height: 24px;
	  text-align: center;
	  width: 100%;
  	  float: left;
	}
	#_145_navAddControlsNavbarCollapse ul li {
	  clear: none;
	  display: inline-block;
	  float: left;
	  font-size: 10px;
	  line-height: 24px;
	  padding: 0 1px;
	}
	#_145_navAddControlsNavbarCollapse ul li a {
	  height: 60px;
	  padding: 4px;
	  width: 47px;
	}
	#_145_navAddControlsNavbarCollapse ul li a i {
	  height: 32px;
	  line-height: 32px;
	}
	#_145_navAddControlsNavbarCollapse ul li a span {
	  font-size: 0.5em;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  width: 50px;
	  word-wrap: break-word;
	}

}


