@import "compass";
@import "mixins";

 $color1: #1b4754;
 $color2: #397173;
 $color3: #f79646;
 
.core-4 #loader:after {
  animation: animate2core4 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%; 
  height: 80px;
  width: 80px;
  position: absolute; 
} 

 @keyframes animate2core4 {
  0% {
    box-shadow: inset $color1 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset $color2 0 0 0 2px;
  }
  100% {
    box-shadow: inset $color3 0 0 0 17px;
    transform: rotate(140deg);
  }
}

