@import "compass";
@import "mixins";

 $maincolor: #232222;
 $maincolor-dark: #000000;
 $maincolor-light: #CAC8C8;
 
 $primary-1: #1b4754;  
 $primary-2: #397173;
 $primary-3: #f79646;
 
 $maingrey: #4a4a4a;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #CB8C2C;
 $secondary-light: #CB8C2C;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;


$W: 100%;
$H: 100%;
$centerW: $W / 2;
$centerH: $H / 2;
$loginW: $W / 2;
$loginH: $H / 2;
$loginposW: $centerW;
$loginposH: $centerH - ($loginH * 3) / 4;

/*************************GENERAL*/

html.aui body[class~="core-4"] {
	
		
	/*With Border*/
	#main-content .portlet-login {
  	  background: url("") no-repeat scroll center top / cover  #FFFFFF;
	}
	
	#main-content .portlet-login section{
	    background: url("../../images/color_schemes/core-4/sg-logo.png") no-repeat scroll center top / 240px auto rgba(0, 0, 0, 0);
	}
	
	#main-content .portlet-login .portlet-content {
	  box-shadow: none;
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;
	  background-color: transparent;
	}
	
	.portlet-login section .portlet-body{
	}
	
	.control-group {
	}
	
	/*Borderless*/

	#main-content .portlet-borderless.portlet-login {
/* 	  background: url("@theme_image_path@/custom/login-bak.jpg") no-repeat scroll center top / cover  #FFF; */
 		background: url("") no-repeat scroll center top / cover  #FFF;
	}
	

	.portlet-login .portlet-borderless-container {
	    background: url("../../images/color_schemes/core-4/wl-logo.png") no-repeat scroll center top / 240px auto rgba(0, 0, 0, 0);
	}
	
	.portlet-login .portlet-borderless-container .portlet-body{
	}
	
	.portlet-login .form {
	}
	
	.portlet-login .form.sign-in-form {
	    background-color: #FFFFFF;
	}
	
	.portlet-login input.field {
	}
	
	.portlet-login .checkbox .field {
	}
	
	.portlet-login .button-holder {
	}

	.portlet-login .btn-primary {
	  background-color: transparent;
	  background-image: none;
	  border-color: transparent;
	  box-shadow: none;
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;	  
	  color: #555;
	}
	
	.portlet-login .navigation {
	  background: none repeat scroll 0 0 transparent;
	  border-top: 1px solid #bfbfbf;
	}
	.portlet-login .taglib-text {
	  color: $maincolor;
	}
	
	.portlet-login span.control-panel-back-text.helper-hidden-accessible{
	}
	.portlet-login a.login-back-link {
		color: #555;
	}
	.portlet-login a.login-back-link:hover {
	}
	
	
}


/*After session died*/
html.aui body.signed-out {
	
	.portlet-login .portlet-topper {
	}
	#main-content .portlet-login .portlet-title-text {
	}
	
	#heading > a#sign-in {
	}
}


@media (max-width: 480px) {
	
	html.aui body {
		.portlet-login .control-group {
		}
	}
}

