@import "compass";
@import "mixins";


 $maincolor: #232222;
 $maincolor-dark: #000000;
 $maincolor-light: #CAC8C8;
 
 $logo1: #B6BD00;	/*green*/
 $logo2: #67B2E8;	/*blue*/
 $logo3: #F7323F;	/*red*/

 
 $maincolor-composed: #004454;
 
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;
 
/*************************LOADER*/
	.loadingBar {
 	    /*background-color: $maincolor; */
	}
	.square {
  		background: $maincolor-light;
	}
	.square:nth-child(3) {
	  background: $maingrey;
	}
	
	h1,h2,h3,h4{
		color: $maincolor;
	}

/************************* GENERAL*/

.aui *::-moz-selection {
  background: none repeat scroll 0 0 $maincolor !important;
}

.aui .portlet-asset-publisher .asset-content, 
.aui .portlet-asset-publisher .asset-summary, 
.aui .portlet-asset-publisher .asset-title, 
.aui .portlet-asset-publisher .header-title, 
.aui .portlet-asset-publisher li.title-list, 
.aui .portlet-blogs .entry-body, 
.aui .portlet-blogs .entry-title, 
.aui .portlet-blogs .header-title, 
.aui .portlet-journal-content 
.journal-content-article, 
.aui .portlet-message-boards .header-title, 
.aui .portlet-message-boards .thread-body {
}

/************************* LAYOUT*/

*{
}

html.aui{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}


/* ----- */

html.aui{
	
	body[class~="core-2"] {
	  background-color: rgba(0, 0, 0, 0);
	  background-image: none; 
	  color: #555555;
	}
	
	 body[class~="core-2"].dialog-iframe-popup {
	  background: none repeat scroll 0 0 #FFFFFF !important;
	}
	
	body[class~="core-2"].show-search .searchDiv {
/* 	  background-color: $maincolor-dark; */
		background-color: #FFFFFF;
	}
	
	body[class~="core-2"].dockbar-split.dockbar-ready .dockbar .navbar-inner {
	  background-color: transparent;
	  background-image: none;
	}
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-account-controls {
	}
	body[class~="core-2"].dockbar-split .dockbar.navbar-static-top .collapse {
	}
	
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls {
	  background: none repeat scroll 0 0 $maincolor-dark;
	}

	body[class~="core-2"].show-control.dockbar-split .dockbar .navbar-inner .nav-add-controls {
	  background: none repeat scroll 0 0 #FFFFFF;
	  border-bottom: 3px solid $logo3 !important;
	}
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls:hover {
	  background: none repeat scroll 0 0 #FFFFFF;
	}
	

	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li {
	  background-color: rgba(0, 0, 0, 0);
	  background-image: none;
	}
	body[class~="core-2"].dockbar-split .dockbar .divider-vertical {
	}
	body[class~="core-2"].dockbar-split .dockbar .nav li.divider-vertical {
	}
	
	 body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a {
	  color: $maincolor;
	  background: none repeat scroll 0 0 transparent;
	}
	
	 body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover {
	  background: $maincolor; 
	}
	 body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
	  background: none repeat scroll 0 0 transparent;
	}
	 body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li:hover > a.toggle-controls-link {
	  background: none repeat scroll 0 0 transparent;
	}
	
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a {
	}
	
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], 
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], 
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"] {
	  color: $maincolor;
	}
	
	 body[class~="core-2"].dockbar-split.controls-hidden .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
	  background: none repeat scroll 0 0 transparent;
	}
	
	
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav.nav-add-controls > li > a:focus, 
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav.nav-add-controls > li > a:hover,
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a:focus,
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a:hover {
	  background: none repeat scroll 0 0 transparent;
	  color: $logo2;
	}
	
	html.aui body.verde .dockbar .navbar-inner .nav.nav-add-controls > li > a:hover i,
	html.aui body.verde .dockbar .navbar-inner .nav.nav-add-controls > li > a:hover span{
	  color: $logo2;
	}
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > a:hover i,
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > a:hover span{
	  color: $logo2;
	}
	
	
	
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link span {
	  color: $maincolor;
	}
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label {
	}
	
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav > li > a:link .nav-item-label, 
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav > li > a:focus .nav-item-label, 
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav > li > a:hover .nav-item-label {
	  background: none repeat scroll 0 0 transparent;
	}
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav.nav-add-controls .nav-item-label {
	  display: block;
	}
			
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], 
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], 
	body[class~="core-2"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"] {
	}
		
	
	body[class~="core-2"]{
	
			/* random style */
			div:not([class^=mdl]){
			}
			
			a:not([class^=mdl]) {
			}
			table:not([class^=mdl]),
			.table:not([class^=mdl]){
			}
		
			.signed-in.controls-visible .portlet-title {
			}
			#main-content .portlet-title-text {
			  color: $maincolor;
			}
			
			#main-content .portlet-boundary {
			}
			
			
			#main-content {
			}
			
			
			section {
			}
			/* END random style */
			
		
			.loadingBar {
/* 			    background-color: $maincolor; */
			}
			
			h1,h2,h3,h4{
				color: $maincolor;
			}
		
			#wrapper {
			}
			
			#wrapper > header {
			}
			#wrapper > div#content {
			}
			#wrapper > div#content,
			#wrapper > footer#footer {
			}
			
			/* ******* Language Bar ******* */
						
			#languageDiv {
/* 			  background-color: #cac8c8; */
/* 			  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset; */
			}
			#langLbl{
			}
			#languages {
				box-shadow: -6px 0 5px -6px black inset;
				-webkit-box-shadow: -6px 0 5px -6px black inset;
				-moz-box-shadow: -6px 0 5px -6px black inset;
			}
			.langHorizontal #languages::before {
			}
			.taglib-language-list-text {
			}
			span.taglib-language-list-text {
			  color: #fff;
			}
			
			
			#navigation,
			.site-navigation {
			  background-color: transparent;
			}
			
			.site-navigation .lfr-nav-item a span {
			}
			
			#navigation .navbar-inner {
/* 			  background: none repeat scroll 0 0 $maincolor-dark; */
			  background: none repeat scroll 0 0 #FFFFFF;
			}
			
			#navigation .nav > li > a {
			  color: $maincolor;
			}
			#navigation .navbar-inner li a {
			}
			.dockbar .navbar-inner .nav > li > a {
			  color: $maincolor-dark;
			}
			.dockbar .navbar-inner .nav > li > a:focus, 
			.dockbar .navbar-inner .nav > li > a:hover {
			  color: $maincolor-dark;
			}
			
			.modify-pages .delete-tab {
			  background: none repeat scroll 0 0 #555;
			  border: 2px solid #fff;
			  color: #fff;
			}
			
			.icon-caret-down::before {
			  content: "\f0d7";
/* 			  display: none; */
			}
			
			.btn.close.pull-right {
			  border: 1px solid $maincolor;
			  color: #555;
			}
			
			/*************************HEADER*/
			
			header#banner,
			header#banner{
			}
	
			.logo img {
			}
			#banner > div#heading {
/* 			  background-color: #f9f9f9; */
/* 			  border-bottom: 12px solid $maincolor; */
			}
			
			#heading .site-title {
			}
			
			#heading .site-title a {
			  background-color: transparent;
			}
			
			/************************* MENU */
			
			#navigation .navbar-inner li span.noLink {
			  color: $logo2;
				
			}
			#navigation .navbar-inner li span.noLink:hover {
				
			}
			#navigation .nav > li > a {	
			}
			 #navigation .nav > li.active > a {
			  background-color: rgba(255, 255, 255, 0);
			  color: $logo2;
			}
			 #navigation .nav li.open > a {
			  background-color: rgba(255, 255, 255, 0);
			  color: $logo2;
			}
			#navigation .nav li.open > span.noLink {
			  background-color: $maincolor;
			  color: #555;
			}
			
			.navbar .icon-caret-down {
			  background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
			}
			
			
			.dropdown-menu {
			  background-color: white;
			  border: 1px solid rgba(0, 0, 0, 0.2);
			  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			}
			
			.dockbar.navbar .nav > li > a {
			}

			
			/************************* DOCKBAR */
			
		 	.dockbar .navbar-inner .nav > li,  .dockbar-split .dockbar .navbar-inner .nav > li {
			  background-color: rgba(0, 0, 0, 0);
			}
			 .dockbar.navbar .nav > li > a:hover {
			      background-color: rgba(255, 255, 255, 0);
			}
			.dockbar-split .dockbar .navbar-inner .nav > li > a:focus, 
			.dockbar-split .dockbar .navbar-inner .nav > li > a:hover {
			  	color: $maincolor-light;
			}
			
			.dockbar-split .dockbar .navbar-inner .nav > li > a:focus .nav-item-label, 
			.dockbar-split .dockbar .navbar-inner .nav > li > a:hover .nav-item-label{
			}
			
			.dockbar-user-notifications .user-notifications-count.alert, 
			.notifications-portlet .user-notifications-count.alert {
			  background-color: $maincolor-dark;
			  border: 1px solid $maincolor;
			}
			.dockbar-user-notifications .user-notifications-count, 
			.notifications-portlet .user-notifications-count{
				background-color: transparent;
			    border: 2px solid $maincolor-dark;
			}
			
			.dockbar-user-notifications .user-notifications-list .user-notification .sender .user-thumbnail, 
			.notifications-portlet .user-notifications-list .user-notification .sender .user-thumbnail {
			  box-shadow: 0 0 0 2px $maincolor;
			  -moz-box-shadow: 0 0 0 2px $maincolor;
		  	  -webkit-box-shadow: 0 0 0 2px $maincolor;
			}
			
			.dockbar .nav li.dropdown .dropdown-menu{
				
			} 
			
			 .dockbar .nav li.dropdown .dropdown-menu,  
			 .dockbar .nav li.dropdown .site-administration-menu {
			  background: none repeat scroll 0 0 $maincolor;
			}
			 .dockbar .nav li.dropdown .dropdown-menu > li > a:focus,  
			 .dockbar .nav li.dropdown .dropdown-menu > li > a:hover,  
			 .dockbar .nav li.dropdown .site-administration-menu > li > a:focus,  
			 .dockbar .nav li.dropdown .site-administration-menu > li > a:hover {
			        background: $maincolor-dark;
			}
			
			 .dockbar .nav li.dropdown .dropdown-menu li.active > a,  
			 .dockbar .nav li.dropdown .site-administration-menu li.active > a {
			    background: none repeat scroll 0 0 $maincolor;
			}
			
			.dockbar .container .btn .user-avatar-image, 
			.dockbar .nav li.dropdown.user-avatar .user-avatar-image {
				border: 2px solid $maincolor-dark;
			    border-radius: 50%;
			    box-shadow: 0 0 0 0 $maincolor-dark;
			     -moz-box-shadow: 0 0 0 0 $maincolor-dark;
			  	-webkit-box-shadow: 0 0 0 0 $maincolor-dark;
			}
			
	
			
			.dockbar .navbar-inner .container .nav-account-controls li.dropdown.open > .dropdown-toggle, 
			.dockbar-split .dockbar .navbar-inner .container .nav-account-controls li.dropdown.open > .dropdown-toggle, 
			.dockbar.navbar-static-top .dockbar .navbar-inner .container .nav-account-controls li.dropdown.open > .dropdown-toggle {
			  background-color: $maincolor;
			}
			
			
			/* 	Search  */
			
			.searchDiv {
			  background-color: #fff;
    		  border-bottom: 3px solid $logo3;
			}
			
			.searchDiv > form {
			}
			.searchDiv form select {
			}
			.searchDiv input[type="image"] {
			  background-color: #333;
			}
			.searchDiv input[type="text"] {
			}
			

			button#showHideSearch,
			button#showHideSearch:active {
			  background-color: transparent;
			  color: inherit;
			}
			
			button#showHideSearch:hover,
			button#showHideSearch.pressed {
			  opacity: 0.8;
			}
			
			
			body[class~="core-2"].show-search button#showHideSearch{
			  background: none no-repeat scroll 0 0 / contain  $maincolor;
			  color: #ffffff;
			}
			
			.icon-search.icon-white {
			}
			
			/************************* BREADCRUMBS*/
			
			#breadcrumbs {
			}
			 .breadcrumb li a {
				color: $maingrey;
			}
			 .breadcrumb li.first a {
				color: $maingrey;
			}
			 .breadcrumb li.last a {
				color: $maincolor-dark;
			}
			 .breadcrumb li.active {
				color: $maincolor-dark;
			}
			 .breadcrumb li.active.only > a{
				color: $maincolor-dark;
			}
			
			/************************* FOOTER*/
					
			#footer {
			    color: $maincolor-dark;
			}
			#footer {
			  color: $maincolor-dark;
			}
			
			
			#footer > div#divImgsFooter {
			  background-color: rgba(0, 0, 0, 0);
		  	  border-top: 1px solid #EEEEEE;
			}
			
			/*************************CHAT*/
			
			.chat-portlet {
			}
			
			 .chat-panel label {
			}

			.panel-window {
			}
			.chat-bar div ul li.selected .panel-trigger {
			}
			.chat-bar .chat-panel {
			}
			
			.chat-panel .panel-window {
			  background: none repeat scroll 0 0 #fff;
			  border: 1px solid #ccc;
			  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
			  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
			  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
			}
			
			.chat-portlet .chat-bar .chat-tabs li.buddy-list,
			.chat-portlet .chat-bar .chat-tabs li.chat-settings {
			}
			
			.chat-portlet .chat-settings li {
			}
			.chat-panel .control-group {
			}
			
			.chat-panel input {
			}
			
			.chat-bar {
			  background: none repeat scroll 0 0 $maincolor;
			  border: 0 solid #b5b5b5;
			  border-radius: 2px 2px 0 0 !important;
			}
			.buddy-list .panel-content {
			}
			.chat-bar div ul, .chat-bar div ul li {
			}
			.chat-bar .chat-tabs li {
			}
			
			.chat-bar div ul li .panel-trigger {
			  border-left: 0 solid #b5b5b5;
			  border-right: 0 solid #e0e0e0;
			  color: #fff;
			}
			.chat-bar div ul li.selected .panel-trigger {
			  background: none repeat scroll 0 0 #ffffff;
			  color: $maincolor-dark;
			}
			.chat-bar div ul li .panel-trigger:hover {
			  background: none repeat scroll 0 0 $maincolor-dark;
			  color: #fff;
			}
			.chat-bar div ul li.selected .panel-trigger:hover {
				color: $maincolor;
			}
			.chat-bar .status-message, .chat-bar .trigger-name {
			  text-shadow: 0 0 transparent;
			}
			
			.chat-bar .chat-panel .panel-title {
/* 			  background: none repeat scroll 0 0 $maincolor; */
			}
		
		
			/*************************ADMINISTRATION*/
			
			 .lfr-add-panel.lfr-admin-panel h1,  .lfr-device-preview-panel.lfr-admin-panel h1,  .lfr-edit-layout-panel.lfr-admin-panel h1 {
			  color: $maincolor;
			}
			 .accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle {
			  color: $maincolor;
			}
			 .lfr-add-panel .add-content-menu .lfr-content-item {
			  color: $maingrey;
			}
		
			
	
		
		
		/*************************CUSTOMS*/
		
		 a {
		    color: $maincolor;
		    }
		
		 .dropdown-menu > .active > a,
		 .dropdown-menu > .active > a:hover,
		 .dropdown-menu > .active > a:focus {
		    color: white;
		    background-color: $maincolor;
		    }
		
		 .dropdown-menu > li > a:hover,
		 .dropdown-menu > li > a:focus,
		 .dropdown-submenu:hover > a,
		 .dropdown-submenu:focus > a {
		    color: white;
		    background-color:  $maincolor;
		    }
		    
		  .btn-link {
		    color: $maincolor;
		    }
		
		   .nav-list > .active > a,
		   .nav-list > .active > a:hover,
		   .nav-list > .active > a:focus {
		    color: white;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		    background-color: $maincolor; 
		    }
		    
		 .nav-pills > .active > a,
		 .nav-pills > .active > a:hover,
		 .nav-pills > .active > a:focus {
		  color: white;
		  background-color: $maincolor; 
		  }
		  
		 .nav .dropdown-toggle .caret {
		    border-top-color: $maincolor;
		    border-bottom-color: $maincolor;
		    }
		
		 .navbar .nav > li > a:focus,  
		 .navbar .nav > li > a:hover {
		    color: $maincolor; }
		   
		   a.thumbnail:hover,
		   a.thumbnail:focus {
		    border-color: $maincolor;
		    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
		    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
		    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); 
		    }
		
		 .lfr-add-panel .add-content-menu .lfr-content-item:focus,  
		 .lfr-add-panel .add-content-menu .lfr-content-item:hover {
		      background-color: $maincolor; 
		    }
		
		 .btn-primary {
		    color: white;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		    background-color: $maincolor;
		    background-image: none;
		    border-color: $maincolor $maincolor $maincolor-dark; 
		    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		    *background-color: $maincolor;
		    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
		    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); 
		 	}
		 .btn-primary:hover,  .btn-primary:focus,  .btn-primary:active,  .btn-primary.active,  .btn-primary.disabled,  .btn-primary[disabled] {
		      color: white;
		      background-color: $maincolor-dark;
		      *background-color: $maincolor; 
		      }  
		
		 .lfr-add-panel .add-content-menu .lfr-page-template .toggler-header.active.lfr-page-template-title label {
			  background-color: $maincolor;
			  color: #FFFFFF;
			}
		
	
		/*************************PORTLET*/
		
		.portlet-title-text {
			color: $textcolor-bar;
		}
		
		.portlet-title {
		}
		
		h1.portlet-title,
		h2.portlet-title,
		h3.portlet-title,
		h4.portlet-title {
		    color: $textcolor-bar;
		}
		
		 .portlet-topper {
		  color: #FFFFFF;
		  background: none repeat scroll 0 0 transparent;
		}
		.portlet-topper .portlet-title {
		}
		
		 .portlet-content,  
		 .portlet-minimized .portlet-content-container {
		  background-color: $white;
		  border-color: $maincolor;
		}
		
		.portlet-content{
		  background-color: white;
		  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
		}
		.portlet-content:hover {
		}
		
		.portlet-minimized .portlet-content-container {
		}
		
		 .portlet,  
		 .portlet-borderless-container {
		  background: none repeat scroll 0 0 #FFFFFF;
		  
		}
		section.portlet {
		}
		
		.portlet-borderless-container .portlet-body {
		}
		
		.dropdown-toggle.direction-down.max-display-items-15,
		.dropdown-toggle.direction-down.max-display-items-15:hover {
		  color: #555;
		}
		
		/* portlet settings (icon-cog) */
		
		menu.portlet-topper-toolbar {
		  background-color: white;
		  box-shadow: 0 -3px 2px -2px rgba(0, 0, 0, 0.2) inset;
		  -moz-box-shadow: 0 -3px 2px -2px rgba(0, 0, 0, 0.2) inset;
		  -webkit-box-shadow: 0 -3px 2px -2px rgba(0, 0, 0, 0.2) inset;
		}
		
		.portlet .portlet-topper menu .lfr-icon-menu .dropdown-toggle .caret {
		}
		
		.btn-group {
		}
		.portlet-borderless-bar .btn-group {
		}
		.icon-cog {
		}
		
		/* END portlet settings (icon-cog) */
		
		.portlet-topper .portlet-topper-toolbar .portlet-icon-back::before {
		  content: "\f060";
		  font-family: fontawesome-alloy;
		}
		
		.portlet-topper .portlet-topper-toolbar .portlet-icon-back {
		  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		  color: $maincolor;
		}
		
		/* AssetPublisher: visualizza correttamente icona close dei tags */
		[class^="icon-"].textboxlistentry-close, [class*=" icon-"].textboxlistentry-close{
			background-image: url("@theme_image_path@/aui/glyphicons-halflings.png");
		}
		/*Modifica Stile della taglib Tags*/
		.textboxlistentry {
		  background-color: $logo2;
		  border: 1px solid $logo2;
		}
		.helper-clearfix.textboxlistentry-holder.unstyled {
		}
		/* stile realtivo alla portlet Search di Liferay per rendere visibile il tasto search */
		.portlet-search input[title="Search"]:last-child {
		  background-color: $maincolor;
		}
		
		/*Rating Stars*/
		.taglib-ratings .rating-element {
		  color: $logo1;
		}

	}/* body[class~="core-2"] */
	
	
	/* 	EXSTRA */

	body:first-of-type .portlet-borderless-bar .portlet-title-default {
	}
	body:first-of-type .portlet-borderless-bar .portlet-actions {
	}
	
	
}/*html.aui*/

