<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	
	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
	<script src="$javascript_folder/jquery-2.1.1.min.js"></script>
	<script src="$javascript_folder/jquery.mobile.custom.min.js"></script>
	
	<!-- Loader Style -->
	<link rel="stylesheet" href="$css_folder/core/loading.css">
	
 	<!--Import Google Icon Font-->
  	<link type="text/css" rel="stylesheet" href="$css_folder/core/material-icons.css" />
  	
  	<!--Import FontAwesome Icon Font-->
  	<link type="text/css" rel="stylesheet" href="$css_folder/core/font-awesome.min.css" />
  	
  	<!--Import materialize.css-->
  	<!--<link type="text/css" rel="stylesheet" href="$css_folder/materialize.css"  media="screen,projection"/>-->
  	<!--<link type="text/css" rel="stylesheet" href="$css_folder/core/color_schemes/$themeDisplay.getColorScheme().getCssClass()/materialize_colors.css"/>-->
  	
  	<link type="text/css" rel="stylesheet" href="$css_folder/cookiebar.css"/>
  	
  	<!-- Shepherd themes for Tour
    <link rel="stylesheet" href="$css_folder/tour/shepherd-theme-arrows.css">
    <link rel="stylesheet" href="$css_folder/tour/tour.css">
    -->
	
	
	$theme.include($top_head_include)
	
</head>

<body class="core $css_class">

	<!-- full opacity div for overlay loader on load pages -->
	<div id="waiter" class="lean-overlay" style="display: block; background-color: #fff;">
		<!--<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i>-->
		<div id="loader"></div>
	</div>
	<!-- half opaticy div for overlay loader -->
	<div id="wait-overlay" class="lean-overlay">
	</div>

$theme.include($body_top_include)

<div id="topbar">
		<!--ADMIN DOCKBAR-->
		<!--by main.js-->
						
		<!--SEARCH BAR -->
		<div id="searchDiv">
			<!--<button id="showHideSearch_OLD"><i class="icon-search"></i>#language("theme.dockbar.search")</button>-->
			<div class="searchDiv">$theme.search()</div>
		</div>
		
		<!--LANGUAGE BAR 
		<div id="languageDiv">
		    <span id="langLbl"><i class="icon-globe"></i>#language("theme.dockbar.language")</span>
		    <span id="languages">$theme.language("fm", null, "languageId", 1)</span>
		</div>
		-->
</div>

<div class="container-fluid" id="wrapper">

	<header id="banner" role="banner">
		<div id="heading">
			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navbar.vm")
			#end
		</div>

	</header>

	<div id="content">
		<nav id="breadcrumbs">#breadcrumbs()</nav>

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	#if ($theme_settings.tcp-simplefooter-check=="true")
		<footer id="footer"  role="contentinfo"> 
			<p class="powered-by">
					<span>$theme_settings.tcp-simplefooter-text</span>	<!--il testo nel footer puo' essere digitato nella schermata di scelta del tema-->
			</p>
		</footer>
	#else
		#parse ("$full_templates_path/footer.vm")
	#end
	
	
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)
		
<!-- MaterialDesignLite -->
	
	<script src="$javascript_folder/materialize.min.js"></script>
	<script src="$javascript_folder/jquery.dotdotdot.min.js"></script>
	<script src="$javascript_folder/classie.js"></script>
	<script src="$javascript_folder/search-bar.js"></script>
	<script src="$javascript_folder/init.js"></script>
	<script src="$javascript_folder/jquery.cookiebar.js"></script>
	<script src="$javascript_folder/cookie_script.js"></script>
	
	<!-- JS per il Tour
	<script src="$javascript_folder/tour/shepherd.min.js"></script>
	<script src="$javascript_folder/tour/tether.js"></script>
	-->

	<!-- Modal Alert -->
	#parse ("$full_templates_path/modal_alert.vm")
	
	<script>
		$(window).load(function() {
		 // executes when complete page is fully loaded, including all frames, objects and images
		 console.log("window is loaded");
		 $("#waiter").css("display", "none")
		});
		
		console.log("Theme Ver.: $theme_settings.theme-version");
	</script>
	
</body>

</html>