			
<!-- COOKIE POLICY -->
<div id="modal-cookie-policy" class="modal">
	<div class="modal-content">
		<h4>#language("theme.cookie.policy")</h4>
		#language("theme.cookie.policy.detail")
	</div>
	<div class="modal-footer">
		<a href="#" class="modal-action modal-close welive light-blue white-text btn btn-flat">#language("theme.ok")</a>
	</div>
</div>
