<!-- I segueneti link fanno parte del menu Technical Support e sono definiti nelle impostazioni del Tema nel control-panel -->
		
				<li><a class="core-color-text text-color-2" href="$theme_settings.tcp-menu-guide">#language("theme.menu.technical.started")</a></li>
				<li><a class="core-color-text text-color-2" href="$theme_settings.tcp-menu-faq">#language('theme.menu.technical.faq-title')</a></li>
				<!--<li><a class="core-color-text text-color-2" href="$theme_settings.tcp-menu-documentation">#language("theme.menu.technical.support")</a></li>-->
				<li><a class="core-color-text text-color-2" href="$theme_settings.tcp-menu-contactus">#language("theme.menu.technical.contactus")</a></li>
				