/*CORE*/

@import "compass";
@import "mixins";

@import url(color_schemes/core-1/essential.css);
@import url(color_schemes/core-2/essential.css);
@import url(color_schemes/core-3/essential.css);
@import url(color_schemes/core-4/essential.css);
@import url(color_schemes/core-5/essential.css);
 
 $maincolor-composed: #004454;
 
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;
 
/*************************LOADER*/
	.loadingBar {
 	    /*background-color: $maincolor; */
	}
	.square {
/*   		background: $maincolor; */
	}
	.square:nth-child(3) {
/* 	  background: $maingrey; */
	}
	
	h1,h2,h3,h4{
/* 		color: $maincolor; */
	}

/************************* GENERAL*/

.aui *::-moz-selection {
/*   background: none repeat scroll 0 0 $maincolor !important; */
  color: #FFFFFF;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
}

.aui .portlet-asset-publisher .asset-content, 
.aui .portlet-asset-publisher .asset-summary, 
.aui .portlet-asset-publisher .asset-title, 
.aui .portlet-asset-publisher .header-title, 
.aui .portlet-asset-publisher li.title-list, 
.aui .portlet-blogs .entry-body, 
.aui .portlet-blogs .entry-title, 
.aui .portlet-blogs .header-title, 
.aui .portlet-journal-content 
.journal-content-article, 
.aui .portlet-message-boards .header-title, 
.aui .portlet-message-boards .thread-body {
  -moz-hyphens: unset;
  word-break: keep-all;
}

/************************* LAYOUT*/

*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

html.aui{
		font-family: 'Roboto', sans-serif;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		font-weight: 400;
}

html.aui body:not(.core) .so-portlet-user-bar,
html.aui body:not(.core) .chat-portlet,
html.aui body:not(.core) header#banner,
html.aui body:not(.core) #footer{
  display: none !important;
  opacity: 0;
}

/* ----- */

html.aui{
	
	body[class~="core"] {
	  background-attachment: fixed;
	  background-color: rgba(0, 0, 0, 0);
	  background-image: none; 
	  background-position: 50% center;
	  background-repeat: no-repeat;
	  background-size: auto auto;
	  color: #333333;
	  font-size: 1.1em;
	  font-weight: 300;
	  height: 100%;
	}
	
	body[class~="core"] input {
	  box-sizing: content-box;
	}
	
	 body[class~="core"].dialog-iframe-popup {
	  background: none repeat scroll 0 0 #FFFFFF !important;
	}
	
	body[class~="core"].show-search .searchDiv {
/*	  background-color: $maincolor-dark; */
	  border-radius: 0;
	  height: 6em;
	  opacity: 1;
	  right: 0;
	  top: 0;
	  transform: translate3d(0px, 60px, 0px);
	  -webkit-transform: translate3d(0px, 60px, 0px);
	  -moz-transform: translate3d(0px, 60px, 0px);
      -o-transform: translate3d(0px, 60px, 0px);
	  -ms-transform: translate3d(0px, 60px, 0px);
	  transition-delay: 0s, 0s, 0s;
	  transition-duration: 0.4s, 0.4s, 0.4s;
	  transition-property: width, height, transform, opacity;
	  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	  
	  		-webkit-transition-delay: 0s, 0s, 0s;
			-webkit-transition-duration: 0.4s, 0.4s, 0.4s;
			-webkit-transition-property: all;
			-webkit-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			
			-moz-transition-delay: 0s, 0s, 0s;
			-moz-transition-duration: 0.4s, 0.4s, 0.4s;
			-moz-transition-property: all;
			-moz-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			
			-o-transition-delay: 0s, 0s, 0s;
			-o-transition-duration: 0.4s, 0.4s, 0.4s;
			-o-transition-property: all;
			-o-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);		
			
			-ms-transition-delay: 0s, 0s, 0s;
			-ms-transition-duration: 0.4s, 0.4s, 0.4s;
			-ms-transition-property: all;
			-ms-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			
	  width: 100%;
	  z-index: -1;
	}
	
	body[class~="core"].dockbar-split .info-link-container {
	  width: 10px;
	}
	
	body[class~="core"].dockbar-split.dockbar-ready .dockbar .navbar-inner {
	  background-color: transparent;
	  background-image: none;
	  width: 100%;
	}
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-account-controls {
	  right: 0.5em;
/* 	  top: 0.4em; */
	  top: 0em;
	  border-top: 0px;
	}
	body[class~="core"].dockbar-split .dockbar.navbar-static-top .collapse {
	  	position: absolute;
	    top: 0;
	    width: 100%;
	}
	
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls {
/* 	  background: none repeat scroll 0 0 $maincolor-dark; */
	  border: 0 none;
	  height: 7.5em;
	  margin: 0;
	  padding: 0 1em;
	  opacity: 0;
	  left: 0;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: -1;
	  transform: translate3d(0px, -5em, 0px);
	  -webkit-transform: translate3d(0px, -5em, 0px);
	  -moz-transform: translate3d(0px, -5em, 0px);
	  -o-transform: translate3d(0px, -5em, 0px);
	  -ms-transform: translate3d(0px, -5em, 0px);
	  transition-delay: 0s, 0s, 0s;
	  transition-duration: 0.4s, 0.4s, 0.4s;
	  transition-property: all;
	  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	  
	  	  	-webkit-transition-delay: 0s, 0s, 0s;
			-webkit-transition-duration: 0.4s, 0.4s, 0.4s;
			-webkit-transition-property: all;
			-webkit-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			
			-moz-transition-delay: 0s, 0s, 0s;
			-moz-transition-duration: 0.4s, 0.4s, 0.4s;
			-moz-transition-property: all;
			-moz-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			
			-o-transition-delay: 0s, 0s, 0s;
			-o-transition-duration: 0.4s, 0.4s, 0.4s;
			-o-transition-property: all;
			-o-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);		
			
			-ms-transition-delay: 0s, 0s, 0s;
			-ms-transition-duration: 0.4s, 0.4s, 0.4s;
			-ms-transition-property: all;
			-ms-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			
	}

	body[class~="core"].show-control.dockbar-split .dockbar .navbar-inner .nav-add-controls {
/* 	  background: none repeat scroll 0 0 $maincolor-dark; */
	  border: 0 none;
	  height: 7.5em;
	  margin: 0;
	  padding: 0 1em;
	  transform: translate3d(0px, -136px, 0px);
	  -webkit-transform: translate3d(0px, -136px, 0px);
	  -moz-transform: translate3d(0px, -136px, 0px);
	  -o-transform: translate3d(0px, -136px, 0px);
	  -ms-transform: translate3d(0px, -136px, 0px);
	  opacity: 1;
	  left: 0;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: -1;
	  transition-delay: 0s, 0s, 0s;
	  transition-duration: 0.4s, 0.4s, 0.4s;
	  transition-property: all;
	  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	  
	  	  	-webkit-transition-delay: 0s, 0s, 0s;
			-webkit-transition-duration: 0.4s, 0.4s, 0.4s;
			-webkit-transition-property: all;
			-webkit-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			
			-moz-transition-delay: 0s, 0s, 0s;
			-moz-transition-duration: 0.4s, 0.4s, 0.4s;
			-moz-transition-property: all;
			-moz-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			
			-o-transition-delay: 0s, 0s, 0s;
			-o-transition-duration: 0.4s, 0.4s, 0.4s;
			-o-transition-property: all;
			-o-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);		
			
			-ms-transition-delay: 0s, 0s, 0s;
			-ms-transition-duration: 0.4s, 0.4s, 0.4s;
			-ms-transition-property: all;
			-ms-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls:hover {
/* 	  background: none repeat scroll 0 0 $maincolor-dark; */
	}
	

	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li {
	  background-color: rgba(0, 0, 0, 0);
	  background-image: none;
	  display: inline-block;
	  float: left;
	}
	body[class~="core"].dockbar-split .dockbar .divider-vertical {
	  display: none;
	}
	body[class~="core"].dockbar-split .dockbar .nav li.divider-vertical {
	  display: none;
	}
	
	 body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a {
	  line-height: inherit;
	  padding: 6px 8px;
/* 	  color: $maincolor; */
	  background: none repeat scroll 0 0 transparent;
	  height: 60px;
	  max-width: 60px;
	  min-width: 60px;
	  margin: 0;
	}
	
	 body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover {
/* 	  background: $maincolor;  */
	}
	 body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
/* 	  background: none repeat scroll 0 0 transparent; */
	}
	 body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li:hover > a.toggle-controls-link {
/* 	  background: none repeat scroll 0 0 transparent; */
	}
	
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a {
	  clip: rect(0px, 0px, 0px, 0px);
	  position: unset;
	}
	
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], 
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], 
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class~=" icon-"] {
/* 	  color: $maincolor; */
	}
	
	 body[class~="core"].dockbar-split.controls-hidden .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
/* 	  background: none repeat scroll 0 0 transparent; */
	}
	
	
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav.nav-add-controls > li > a:focus, 
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav.nav-add-controls > li > a:hover,
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a:focus,
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls a:hover {
/* 	  background: none repeat scroll 0 0 transparent; */
/* 	  color: white; */
	}
	
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > a:hover i,
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > a:hover span{
/* 	  color: white; */
	}
	
	
	
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link span {
/* 	  color: $maincolor; */
	}
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a .nav-item-label {
	  margin-left: 0;
	  margin-top: -0.6em;
	}
	
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav > li > a:link .nav-item-label, 
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav > li > a:focus .nav-item-label, 
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav > li > a:hover .nav-item-label {
/* 	  background: none repeat scroll 0 0 transparent; */
	  border-radius: 0;
	  font-size: 14px;
	  font-weight: 300;
	  line-height: 20px;
	  margin: 10px 0 0;
	  padding: 0;
	  position: static;
	  white-space: pre-line;
	  word-break: initial;
	}
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav.nav-add-controls .nav-item-label {
	  display: block;
	}
			
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], 
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"], 
	body[class~="core"].dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"] {
	  font-size: 32px;
	  position: relative;
	  vertical-align: middle;
	}
		
	
	body[class~="core"]{
	
			/* random style */
			div:not([class^=mdl]){
				border-radius: 2px;
			}
			
			a {
			  font-weight: 400;
			}
/* 			.materialize a { */
/* 			  border-radius: 0; */
/* 			} */
/* 			a:not([class^=mdl]) { */
/* 			  border-radius: 2px; */
/* 			} */
/* 			table:not([class^=mdl]), */
/* 			.table:not([class^=mdl]){ */
/* 			  border-radius: 2px; */
/* 			} */
		
			.signed-in.controls-visible .portlet-title {
			  display: none;
			}
			
			#portalMessageContainer {
			  left: 0;
			  position: absolute;
			  right: 0;
			  top: 28px !important;
			  z-index: 400;
			}
			
			#main-content .portlet-title-text {
/* 			  color: $maincolor; */
/* 			  font-size: 24px; */
			  font-size: 18px;
			  font-weight: 400;
			  margin: 10px 0;
/* 			  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); */ /* Crea ambreggiatura snel titolo della portle*/
			}
			
			#main-content .portlet-boundary {
			  margin: 11px 0 8px;
			}
			
			
			#main-content {
			  margin-top: 0;
			}
			
			
			section {
			    margin-top: 0px;
			}
			/* END random style */
			
		
			.loadingBar {
/* 			    background-color: $maincolor; */
			}
			
			h1,h2,h3,h4{
/* 				color: $maincolor; */
			}
		
			#wrapper {
			/*   background-image: url("../images/bckgrd/b1.jpg"); */
/* 			  height: 10em; */
/* 			  margin-top: 24px; */
			  padding: 0;
			  overflow-y: auto;
			}
			
			#wrapper > header {
/* 			  position: fixed; */
/* 			  width: 100%; */
/* 			  z-index: 301; */
			}
			#wrapper > div#content {
			  padding: 25px;
			  overflow: visible;
			}
			#wrapper > div#content,
			#wrapper > footer#footer {
			  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s;
			  
			  	-webkit-transition-delay: 0s, 0s, 0s;
				-webkit-transition-duration: 0.4s, 0.4s, 0.4s;
				-webkit-transition-property: all;
				-webkit-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-moz-transition-delay: 0s, 0s, 0s;
				-moz-transition-duration: 0.4s, 0.4s, 0.4s;
				-moz-transition-property: all;
				-moz-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-o-transition-delay: 0s, 0s, 0s;
				-o-transition-duration: 0.4s, 0.4s, 0.4s;
				-o-transition-property: all;
				-o-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);		
				
				-ms-transition-delay: 0s, 0s, 0s;
				-ms-transition-duration: 0.4s, 0.4s, 0.4s;
				-ms-transition-property: all;
				-ms-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			}
			
			/* ******* Language Bar ******* */
						
			#languageDiv {
/* 			  background-color: #cac8c8; */
			  border-radius: 0;
			  font-size: 0.8em;
			  height: 24px;
			  text-align: right;
			  width: auto;
			  z-index: 1;
			}
			#langLbl{
			    width: auto;
			    padding: 0px;
			    display: inline-block;
			    font-weight: bold;
			    cursor: pointer;
			    margin: 2px 0;
			}
			#langLbl:hover{
				opacity: .8;
			}
			#languages {
/* 			    border: 1px solid red; */
			    display: inline-block;
			    line-height: 20px;
			    margin: 2px 6px;
			    opacity: 1;
			    overflow: hidden;
			    vertical-align: middle;
			    white-space: nowrap;
			    width: auto;
			    text-transform: uppercase;
			}
			#languageDiv #langLbl i {
			  padding: 4px 4px 4px 8px;
			}
			.langHorizontal #languages::before {
			  content: "\f054";
			  padding-right: 10px;
			  font-family: fontawesome-alloy;
			}
			.langVertical #languages {
			  box-shadow: none;
			  background-color: #cac8c8;
			}
			.taglib-language-list-text {
			  padding-right: 8px;
			}
			.taglib-language-list-text:hover{
				opacity: .8;
			}
			span.taglib-language-list-text {
			  color: #fff;
			}
			
			
			#navigation,
			.site-navigation {
			  background-color: transparent;
			  margin-bottom: 0px;
			  display: inline;
			}
			
			.site-navigation .lfr-nav-item a span {
			  display: block;
			  line-height: 20px;
			  margin: 5px 0 0;
			  position: relative;
			  white-space: pre-line;
			  word-break: initial;
			}
			
			#navigation .navbar-inner {
/* 			  background: none repeat scroll 0 0 $maincolor-dark; */
			  border-radius: 2px;
			  border-width: 0;
			  box-shadow: none;
			  
			  -moz-box-shadow: none;
			  
			  -webkit-box-shadow: none;
			  
			  min-height: 36px;
			}
			
			#navigation.navbar .nav {
			  display: flex;
		   	  display: -webkit-flex;
			  flex-wrap: wrap;
			  -webkit-flex-wrap: wrap;
/* 			  align-items: flex-start; */
/* 			  -webkit-align-items: lex-start; */
			}
			
			#navigation .nav > li > a {
			  margin: 14px 8px 0;
			  min-width: 120px;
			  max-width: 100px;
			}
			#navigation .navbar-inner li a {
			  text-align: center;
			  text-shadow: none;
			}
			.dockbar .navbar-inner .nav > li > a {
/* 			  color: $maincolor-dark; */
			  line-height: 24px;
			}
			.dockbar .navbar-inner .nav > li > a:focus, 
			.dockbar .navbar-inner .nav > li > a:hover {
/* 			  color: $maincolor-dark; */
			}
			
			.modify-pages .delete-tab {
			  background: none repeat scroll 0 0 #555;
			  border: 2px solid #fff;
			  box-sizing: content-box;
			  color: #fff;
			  font-size: 17px;
			  padding: 5px 3px 1px 4px;
			  right: 0px;
			  top: 12px;
			  z-index: 300;
			}
			
			.icon-caret-down::before {
			  content: "\f0d7";
/* 			  display: none; */
			}
			
			.btn.close.pull-right {
/* 			  border: 1px solid $maincolor; */
			  border-radius: 50px;
			  color: #555;
			  line-height: 21px;
			  margin-right: 20px;
			  opacity: 1;
			  padding: 0 7px 4px;
			}
			
			/*************************HEADER*/
			
			
			header#banner {
/* 			  display: block; */
/* 			  box-sizing: content-box; */
			}
	
			.logo img {
			  line-height: 64px;
			  margin: auto 0;
			  max-height: 90%;
			  max-width: 100%;
			  width: auto;
			  vertical-align: inherit;
			}
			#logo-container .site-name {
				font-size: 18px;
				font-weight: 500;
			}
			
			#banner > div#heading {
/* 			  background-color: #f9f9f9; */
/* 			  border-bottom: 12px solid $maincolor; */
			  border-radius: 0;
/* 			  margin-bottom: 12px; */
/* 			  margin-top: 24px; */
/* 			  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5); */
/* 			  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5); */
/* 			  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5); */
			}
			
			#heading .site-title {
			  margin: 0;
			  padding: 0;
			  text-align: center;
			}
			
			#heading .site-title a {
			  height: auto;
			  margin: 0 30px;
			  max-width: 200px;
			  min-height: 40px;
			  opacity: 1;
			  width: 100%;
			  background-color: transparent;
			  border: 0 none;
			  padding: 5px;
			}
			
			/************************* MENU */
			
			#navigation .navbar-inner li span.noLink {
/* 			  color: $white; */
			  display: block;
			  line-height: 27px;
			  padding: 4px 15px 5px;
				
			}
			#navigation .navbar-inner li span.noLink:hover {
			  display: block;
			  line-height: 27px;
			  padding: 4px 15px 5px;
				
			}
			#navigation .nav > li > a {
				transition-delay: 0s, 0s, 0s;
				transition-duration: 0.4s, 0.4s, 0.4s;
				transition-property: all;
				tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-webkit-transition-delay: 0s, 0s, 0s;
				-webkit-transition-duration: 0.4s, 0.4s, 0.4s;
				-webkit-transition-property: all;
				-webkit-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-moz-transition-delay: 0s, 0s, 0s;
				-moz-transition-duration: 0.4s, 0.4s, 0.4s;
				-moz-transition-property: all;
				-moz-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-o-transition-delay: 0s, 0s, 0s;
				-o-transition-duration: 0.4s, 0.4s, 0.4s;
				-o-transition-property: all;
				-o-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);		
				
				-ms-transition-delay: 0s, 0s, 0s;
				-ms-transition-duration: 0.4s, 0.4s, 0.4s;
				-ms-transition-property: all;
				-ms-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);	
			}
			 #navigation .nav > li.active > a {
			  background-color: rgba(255, 255, 255, 0);
			  background-image: none;
			  box-shadow: none;
			  -moz-box-shadow: none;
			  -webkit-box-shadow: none;
/* 			  color: #fff; */
			}
			 #navigation .nav li.open > a {
			  background-color: rgba(255, 255, 255, 0);
/* 			  color: #FFF; */
			}
			#navigation .nav li.open > span.noLink {
/* 			  background-color: $maincolor; */
			  color: #555;
			}
			
			.navbar .icon-caret-down {
			  border-radius: 50%;
			  display: none;
			  background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
			}
			
			
			.dropdown-menu {
			  background-clip: padding-box;
			  background-color: white;
			  border: 1px solid rgba(0, 0, 0, 0.2);
			  border-radius: 2px;
			  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	/* 		  display: none; */
			  float: left;
/* 			  left: auto; */
			  list-style: outside none none;
			  margin: 2px 0 0;
			  min-width: 160px;
			  padding: 5px 0;
			  position: absolute;
			  right: auto;
/* 			  top: -12px; */
			  z-index: 1000;
			}
			.overlay .dropdown-menu {
			  right: -30px;
			}
			
			.dockbar.navbar .nav > li > a {
			  margin: 0 0;
			  padding: 10px;
			}

			
			/************************* DOCKBAR */
/*
			#topbar{
			  display: flex;
			   display: -webkit-flex;
			  justify-content: flex-end;
			  -webkit-justify-content: flex-end;
			
			  background-color: #cac8c8;
			  border-radius: 0;
			  height: 24px;
			  text-align: right;
			  width: auto;
			  z-index: 400;
			  
			  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset;
			}
			
			#topbar > div {
			  margin: 0 5px;
			  width: auto;
			}
*/			
				/* Menu di Modifica */
		
			
			/* 	Search  */

			.searchDiv {
/* 			  background-color: $maincolor-dark; */
			  height: 7.5em;
			  opacity: 0;
			  overflow: hidden;
			  position: fixed;
			  right: 0;
			  top: 0em;
			  transform: translate3d(0px, -5em, 0px);
			  -webkit-transform: translate3d(0px, -5em, 0px);
			  -moz-transform: translate3d(0px, -5em, 0px);
			  -o-transform: translate3d(0px, -5em, 0px);
			  -ms-transform: translate3d(0px, -5em, 0px);
			  
			  transition-delay: 0s, 0s, 0s;
			  transition-duration: 0.4s, 0.4s, 0.4s;
			  transition-property: all;
			  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			  
			  	-webkit-transition-delay: 0s, 0s, 0s;
				-webkit-transition-duration: 0.4s, 0.4s, 0.4s;
				-webkit-transition-property: all;
				-webkit-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-moz-transition-delay: 0s, 0s, 0s;
				-moz-transition-duration: 0.4s, 0.4s, 0.4s;
				-moz-transition-property: all;
				-moz-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-o-transition-delay: 0s, 0s, 0s;
				-o-transition-duration: 0.4s, 0.4s, 0.4s;
				-o-transition-property: all;
				-o-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);		
				
				-ms-transition-delay: 0s, 0s, 0s;
				-ms-transition-duration: 0.4s, 0.4s, 0.4s;
				-ms-transition-property: all;
				-ms-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
			  width: 100%;
			  z-index: -1;
			  
			  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16) inset, 0 2px 10px 0 rgba(0, 0, 0, 0.12) inset;
			}
			
			.searchDiv > form {
			  float: none;
			  margin: 2em auto;
			  padding: 0;
			  text-align: center;
			  width: 50%;
			}
			.searchDiv form select {
			  display: none;
			}
			
			.searchDiv input[type="image"] {
			  /* background-color: #333; */
			  display: inline-block;
			  margin: 8px 0 8px -18px;
			  padding: 4px;
			}
			.searchDiv input[type="text"] {
			  display: inline-block;
			  font-family: roboto,sans-serif;
			  height: auto;
			  margin: 0 14px 0 0;
			  padding: 1px 4px;
			  width: 90%;
			}
			#searchDiv .select-wrapper {
			  display: none;
			}
			
			button#showHideSearch,
			button#showHideSearch:active {
			  border: medium none;
			  font-size: 0.8em;
			  font-weight: bold;
			  height: 24px;
			  margin: 0;
			  padding: 0;
/* 			  position: fixed; */
			  text-indent: 0;
			  top: 0;
/* 			  transform: translate3d(2em, 0em, 0px); */
/* 			  -webkit-transform: translate3d(2em, 0em, 0px); */
/* 			  -moz-transform: translate3d(2em, 0em, 0px); */
/* 			  -o-transform: translate3d(2em, 0em, 0px); */
/* 			  -ms-transform: translate3d(2em, 0em, 0px); */
			  width: auto;
			  z-index: 301;
			}
			
			button#showHideSearch:hover,
			button#showHideSearch.pressed {
/* 			  color: $maincolor-dark; */
			  display: block;
			  text-decoration: none;
			}
			
			button#showHideSearch .icon-search {
			  padding: 4px 4px 4px 8px;
			}
			
			
			body[class~="core"].show-search button#showHideSearch{
/* 			  background: none no-repeat scroll 0 0 / contain  $maincolor; */
			  color: #ffffff;
			  margin: 0;
			  padding: 0;
			}
			
			.icon-search.icon-white {
			  font-size: 18px;
			  padding-left: 1px;
			}
			
			/*non mostra la portlet liferay di search, mostrando solo i risultati con la ricerca dalla search del tema*/
			
			div:not([id="column-1"]) .portlet-search{
				display: none;
			}
			.columns-max div:not([id="column-1"]) .portlet-search {
			    display: block;
			}
		/*
			.portlet-column-only.span12 #p_p_id_3_.portlet-boundary.portlet-boundary_3_.portlet-search.portlet-static.portlet-static-end {
			  display: block;
			}
		*/
		/*
			#p_p_id_3_,
			#p_p_id_3_.portlet-boundary.portlet-boundary_3_.portlet-search.yui3-dd-drop.portlet-draggable,
			#p_p_id_3_.portlet-boundary.portlet-boundary_3_.portlet-search.portlet-static.portlet-static-end{
			  display: none;
			}
		*/
			
					
			/************************* BREADCRUMBS*/
			
			#breadcrumbs {
			  margin-bottom: 0;
/* 			  margin-top: 12px; */
			}
			 .breadcrumb li a {
/* 				color: $maingrey; */
			}
			 .breadcrumb li.first a {
/* 				color: $maingrey; */
			}
			 .breadcrumb li.last a {
/* 				color: $maincolor-dark; */
			}
			 .breadcrumb li.active {
/* 				color: $maincolor-dark; */
			}
			 .breadcrumb li.active.only > a{
/* 				color: $maincolor-dark; */
			}
			
/* 			Nasconde la barra breadcrumb in trasparenza quando si scrolla */
			.lfr-hudcrumbs {
			  display: none;
			}
			
			/************************* FOOTER*/
			
			#footer {
			  margin: 0 25px 24px;
			  text-align: right;
			}
			
			
			#footer > div#divImgsFooter {
			  background-color: rgba(0, 0, 0, 0);
		  	  border-top: 1px solid #EEEEEE;
			  margin: 10px 0;
		      padding: 10px;
			  text-align: center;
			}
			
			 #footer #logo-eu {
			    float: left;
			    height: 46px;
			    margin-right: 10px;
			    width: 66px;
			  }
			
			 #footer #footer-content .info-pages a {
			    border-left: 1px solid rgba(0,0,0,0.1);
			    padding: 0 1rem;
			    text-transform: uppercase;
			  }
			
			  #footer #footer-content .info-pages a:first-child {
			    border-left: 0;
			    padding-left: 0;
			  }
			
			  #footer .social-pages a {
			    margin: 0 5px;
			  }
			
			/*************************CHAT*/
			
			.chat-portlet {
			}
			
			 .chat-panel label {
				font-size: 12px;
			}

			.panel-window {
			  border-radius: 2px;
			}
			.chat-bar div ul li.selected .panel-trigger {
			  height: auto;
			  margin: 0;
			  border-radius: 2px;
			}
			.chat-bar .chat-panel {
			  bottom: 23px;
			  left: -120px;
			  position: absolute;
			  right: 0;
			}
			.chat-bar .buddy-list .chat-panel {
			  right: auto;
			}
			.chat-bar .chat-settings .chat-panel {
			  left: auto;
			}
			
			.chat-panel .panel-window {
			  /*background: none repeat scroll 0 0 #fff;*/
			  border: 1px solid #ccc;
			  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
			  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
			  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
			}
			
			.chat-portlet .chat-bar .chat-tabs li.buddy-list,
			.chat-portlet .chat-bar .chat-tabs li.chat-settings {
			  float: left;
			}
			
			.chat-portlet .chat-settings li {
			  padding: 10px 3px;
			}
			.chat-panel .control-group {
			  margin: 10px 5px 20px;
			}
			
			.chat-panel input {
			  max-width: 193px;
			}
			
			.chat-bar {
/* 			  background: none repeat scroll 0 0 $maincolor; */
			  border: 0 solid #b5b5b5;
			  border-radius: 2px 2px 0 0 !important;
			  bottom: 0;
			  height: 24px;
			  left: 15px;
			  position: fixed;
			  right: 15px;
			  z-index: 1000;
			}
			.buddy-list .panel-content {
			  display: inline-block;
			}
			.chat-bar div ul, .chat-bar div ul li {
			  display: inline-block;
			  float: right;
    		  margin-right: 20px;
			}
			.chat-bar .chat-tabs li {
			  float: none;
			  margin: 1px 3px;
			}
			
			.chat-bar div ul li .panel-trigger {
			  border-left: 0 solid #b5b5b5;
			  border-right: 0 solid #e0e0e0;
			  color: #fff;
			  cursor: pointer;
			  float: left;
			  font-size: 12px;
			  font-weight: normal;
			  font-variant-caps: all-small-caps;
			  padding: 0 6px;
			  text-decoration: none;
			}
			.chat-bar div ul li.selected .panel-trigger {
			  background: none repeat scroll 0 0 #ffffff;
			  border: 0 none;
			  border-radius: 0;
/* 			  color: $maincolor-dark; */
			  height: 24px;
			  line-height: 24px;
			  margin: 0;
			  position: relative;
			  z-index: 30;
			}
			.chat-bar div ul li .panel-trigger:hover {
/* 			  background: none repeat scroll 0 0 $maincolor-dark; */
/* 			  color: $maincolor; */
			}
			.chat-bar .status-message, .chat-bar .trigger-name {
			  text-shadow: 0 0 transparent;
			}
			
			.chat-bar .chat-panel .panel-title {
				background: #f2f2f2 none repeat scroll 0 0;
    			color: #20272b;
			  	overflow: hidden;
			  	text-overflow: ellipsis;
			  	white-space: nowrap;
			}
			
			.chat-bar .chat-panel .panel-button.minimize::before {
			  content: "\f056";
			  font-family: FontAwesome;
			  font-size: 14px;
			}
			.chat-bar .chat-panel .panel-button.close::before {
			  content: "\f057";
			  font-family: FontAwesome;
			  font-size: 14px;
			}
			.chat-bar .chat-panel .panel-button.minimize,
			.chat-bar .chat-panel .panel-button.close {
				background: none;
			  font-size: inherit;
			  font-weight: normal;
			  line-height: normal;
			  opacity: 0.8;
			  position: absolute;
			}
		
			/*************************ADMINISTRATION*/
			
			 .lfr-add-panel.lfr-admin-panel h1,  .lfr-device-preview-panel.lfr-admin-panel h1,  .lfr-edit-layout-panel.lfr-admin-panel h1 {
/* 			  color: $maincolor; */
			}
			 .accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle {
/* 			  color: $maincolor; */
			}
			 .lfr-add-panel .add-content-menu .lfr-content-item {
/* 			  color: $maingrey; */
			}
		
			
	
		
		
		/*************************CUSTOMS*/
		
		 a {
/* 		    color: $maincolor; */
			text-decoration: none;
		  }
		
		 .dropdown-menu > .active > a,
		 .dropdown-menu > .active > a:hover,
		 .dropdown-menu > .active > a:focus {
		    color: white;
		    text-decoration: none;
		    outline: 0;
/* 		    background-color: $maincolor; */
		    background-image: none;
		    }
		
		 .dropdown-menu > li > a:hover,
		 .dropdown-menu > li > a:focus,
		 .dropdown-submenu:hover > a,
		 .dropdown-submenu:focus > a {
		    text-decoration: none;
		    color: white;
/* 		    background-color:  $maincolor; */
		    background-image: none;
		    }
		    
		  .btn-link {
		    border-color: transparent;
		    cursor: pointer;
/* 		    color: $maincolor; */
		    -webkit-border-radius: 2px;
		    -moz-border-radius: 2px;
		    border-radius: 2px; 
		    }
		
		   .nav-list > .active > a,
		   .nav-list > .active > a:hover,
		   .nav-list > .active > a:focus {
		    color: white;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
/* 		    background-color: $maincolor;  */
		    }
		    
		 .nav-pills > .active > a,
		 .nav-pills > .active > a:hover,
		 .nav-pills > .active > a:focus {
		  color: white;
/* 		  background-color: $maincolor;  */
		  }
		  
		 .nav .dropdown-toggle .caret {
/* 		    border-top-color: $maincolor; */
/* 		    border-bottom-color: $maincolor; */
		    margin-top: 6px; 
		    }
		
		 .navbar .nav > li > a:focus,  
		 .navbar .nav > li > a:hover {
/* 		    color: $maincolor;  */
		  }
		   
		   a.thumbnail:hover,
		   a.thumbnail:focus {
/* 		    border-color: $maincolor; */
		    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
		    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
		    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); 
		    }
		
		 .lfr-add-panel .add-content-menu .lfr-content-item:focus,  
		 .lfr-add-panel .add-content-menu .lfr-content-item:hover {
/* 		      background-color: $maincolor;  */
		    }
		
		 .btn-primary {
		    color: white;
		    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
/* 		    background-color: $maincolor; */
		    background-image: none;
/* 		    border-color: $maincolor $maincolor $maincolor-dark;  */
		    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
/* 		    *background-color: $maincolor; */
		    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
		    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); 
		 	}
		 .btn-primary:hover,  .btn-primary:focus,  .btn-primary:active,  .btn-primary.active,  .btn-primary.disabled,  .btn-primary[disabled] {
		      color: white;
/* 		      background-color: $maincolor-dark; */
/* 		      *background-color: $maincolor;  */
		      }  
		
		 .lfr-add-panel .add-content-menu .lfr-page-template .toggler-header.active.lfr-page-template-title label {
/* 		  background-color: $maincolor; */
		  color: #FFFFFF;
		}
		
	
		/*************************PORTLET*/
		
		.portlet-title-text {
/* 			color: $textcolor-bar; */
		}
		
		.portlet-title {
		  text-align: left !important;
		}
		.portlet-title img {
		  display: none;
		}
		
		h1.portlet-title,
		h2.portlet-title,
		h3.portlet-title,
		h4.portlet-title {
/* 		    color: $textcolor-bar; */
		}
		
		 .portlet-topper {
		  color: #FFFFFF;
		  padding: 0;
		  border-radius: 2px;
		  background: none repeat scroll 0 0 transparent;
		  top: 0px;
		}
		.portlet-topper .portlet-title {
		  font-size: 1em;
		  font-weight: normal;
		  line-height: 1.2;
		  margin: 0;
		}
		
		 .portlet-content,  
		 .portlet-minimized .portlet-content-container {
/* 		  background-color: $white; */
/* 		  border-color: $maincolor; */
		  border-radius: 2px;
		}
		
		.portlet-content{
		  background-color: white;
		  border: 0 none;
		  padding: 12px 12px 12px;
		  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
		  margin-top: -4px;
		}
		.portlet-content:hover {
/* 			box-shadow: 0 1px 9px 2px rgba(0,0,0,.2); */
/* 			-moz-box-shadow: 0 1px 9px 2px rgba(0,0,0,.2); */
/* 			-webkit-box-shadow: 0 1px 9px 2px rgba(0,0,0,.2); */
		}
		
		.portlet-minimized .portlet-content-container {
		  border: 0 none;
		  padding: 12px;
		}
		
		 .portlet,  
		 .portlet-borderless-container {
		  margin-bottom: 10px;
		  margin-top: 25px;
		  padding: 0;
		  background: none repeat scroll 0 0 #FFFFFF;
		  
		   	-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
		section.portlet {
		  margin-top: 0;
		}
		
		.portlet-borderless-container .portlet-body {
		  padding: 10px;
		}
		
		.dropdown-toggle.direction-down.max-display-items-15,
		.dropdown-toggle.direction-down.max-display-items-15:hover {
		  color: #555;
		}
		
		/* portlet settings (icon-cog) */
		
		
		menu.portlet-topper-toolbar {
		  background-color: white;
		  border-radius: 0 0 30px 30px;
		   box-shadow: 0 -3px 2px -2px rgba(0, 0, 0, 0.2) inset;
		  -moz-box-shadow: 0 -3px 2px -2px rgba(0, 0, 0, 0.2) inset;
		  -webkit-box-shadow: 0 -3px 2px -2px rgba(0, 0, 0, 0.2) inset;
		  height: auto;
		  margin: 0;
		  padding: 0;
		  width: auto;
		}
		
		.portlet .portlet-topper menu .lfr-icon-menu .dropdown-toggle .caret {
		  display: none;
		}
		
		.btn-group {
/* 		  width: 33px; */
		}
		.portlet-borderless-bar .btn-group {
		  width: auto;
		}
		.icon-cog {
		  padding: 7px 8px;
		}
		
		/* END portlet settings (icon-cog) */
		
		
		.portlet-topper .portlet-topper-toolbar .portlet-icon-back::before {
		  content: "\f060";
		  font-family: fontawesome-alloy;
		  padding: 0 6px 0 0;
		}
		
		.portlet-topper .portlet-topper-toolbar .portlet-icon-back {
		  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
/* 		  color: $maincolor; */
		  font-weight: normal;
/* 		  margin: 5px 5px 5px 8px; */
/* 		  padding: 0 8px 0 20px; */
		}
		
		/* AssetPublisher: visualizza correttamente icona close dei tags */
		[class^="icon-"].textboxlistentry-close, [class*=" icon-"].textboxlistentry-close{
			display: inline-block;
			width: 14px;
			height: 14px;
			line-height: 14px;
			vertical-align: text-top;
			background-image: url("@theme_image_path@/aui/glyphicons-halflings.png");
			background-position: -312px 0px;
			background-repeat: no-repeat;
			margin-top: 1px;
			margin-left: 3px;
		}
		/*Modifica Stile della taglib Tags*/
		.textboxlistentry {
		  background-color: rgba(103, 178, 232, 0.3);
		  border: 1px solid #67b2e8;
		  border-radius: 2px;
		  padding: 7px 11px;
		  position: relative;
		}
		.helper-clearfix.textboxlistentry-holder.unstyled {
		  border-left: 0 none;
		  border-right: 0 none;
		  border-top: 0 none;
		  padding: 6px 5px 2px;
		}
		
		/* stile realtivo alla portlet Search di Liferay per rendere visibile il tasto search */
		.portlet-search input[title="Search"]:last-child {
/* 		  background-color: $maincolor; */
		  margin-bottom: 6px;
		  padding: 6px;
		}
	
		/*Rating Stars*/
		.taglib-ratings .rating-element {
		  padding-right: 4px;
		}
		
		/*Pagination*/
		.taglib-page-iterator {
		  border-top: 1px solid #ddd;
		}
		.taglib-page-iterator .btn-group {
			font-size: 1em;
    		margin: 5px;
		}
		.taglib-page-iterator .search-results {
		  width: 100%;
		}
		
	}/* body[class~="core"] */
	
	
	/* 	EXTRA */

	body:first-of-type .portlet-borderless-bar .portlet-title-default {
	  border-bottom-right-radius: 2px;
	  border-top-right-radius: 2px;
	  font-size: 1.2em;
	  margin-right: 20px;
	  padding-top: 0;
	  text-transform: capitalize;
	}
	body:first-of-type .portlet-borderless-bar .portlet-actions {
	  border-bottom-left-radius: 2px;
	  border-top-left-radius: 2px;
	}
	
	
	
	
}/*html.aui*/
