@import "compass";
@import "mixins";

@import url(color_schemes/core-1/essential-responsive.css);
@import url(color_schemes/core-2/essential-responsive.css);
@import url(color_schemes/core-3/essential-responsive.css);
@import url(color_schemes/core-4/essential-responsive.css);
@import url(color_schemes/core-5/essential-responsive.css);

 $maincolor: #38ADC7;
 $maincolor-dark: #008AA9;
 $maincolor-light: #88CEDD;

 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;
 
 $textcolor-bar: #FFF;
 

@media (max-width: 979px) {

	html.aui {
/* 	  overflow: hidden; */
	}
	
	html.aui body[class*="core"] {
		padding:0px;
	}
	html.aui body[class*="core"] #wrapper > div#content {
	  padding: 25px 5px;
	}
	
	/*Account Menu*/	
	html.aui body.dockbar-split[class*="core"] .dockbar .navbar-inner .nav-account-controls {
/* 	  background-color: $maincolor; */
	  padding: 0;
	}
	html.aui body[class*="core"] .dockbar .navbar-inner .nav > li, 
	html.aui body.dockbar-split[class*="core"] .dockbar .navbar-inner .nav > li {
	  clear: left;
	  display: inline;
	  float: left;
	}
	html.aui body.dockbar-split[class*="core"] .dockbar .navbar-inner .nav-add-controls > li {
	  background-color: rgba(0, 0, 0, 0);
	  background-image: none;
	  clear: none;
	  display: inline-block;
	  float: left;
	}
	html.aui body[class*="core"] .dockbar .navbar-inner .nav > li.divider-vertical {
	  display: none;
	}
	html.aui body.dockbar-split[class*="core"] .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
	html.aui body.dockbar-split[class*="core"] .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover, 
	html.aui body[class*="core"] .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
	html.aui body[class*="core"] .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover {
/* 	  background-color: $maincolor-dark; */
	  border-radius: 0;
	  color: #fff;
	}
			
	html.aui body.signed-in[class*="core"] .dockbar .navbar-inner .container #_145_navAccountControlsNavbarBtn.btn-navbar {
		margin: 5px 2px;
   		padding: 8px 5px 9px;
	}
	
	/*Navigation Menu*/
	html.aui body[class*="core"] .menu-wrap {
	  height: auto;
	  max-height: 60%;
	  overflow-y: auto;
	}
	html.aui body[class*="core"] #navigation .navbar-inner li a{
		display: inline-flex;
    	max-width: 100%;
	}
	html.aui body[class*="core"] ul.nav.nav-collapse li a > div{
	  margin-right: 10px;
	  min-width: 32px;
	}
	html.aui body[class*="core"] .site-navigation .lfr-nav-item a span {
	  display: block;
	  line-height: 20px;
	  margin: 5px 0 0;
	  position: relative;
	  white-space: pre-line;
	  word-break: initial;
	}
	html.aui body[class*="core"] .nav-collapse, 
	html.aui body[class*="core"] .nav-collapse.collapse {
	  height: auto;
	  overflow: hidden;
	}
	html.aui body[class*="core"] #navigation .navbar-inner {
	  padding: 10px;
	}
	
	html.aui body[class*="core"] #navigation {
	  display: unset;
	}
	
	
	html.aui body[class*="core"] {
		
		
/* 		Dockbar */

		.portlet-dockbar {
		  display: block;
		  width: 100%;
		}
		.dockbar {
		  	background-color: transparent;
		    border-radius: 0;
		    margin: 0;
		    z-index: auto;
		}
		.dockbar .navbar-inner .nav-collapse, .aui .dockbar .navbar-inner .nav-collapse {
		  z-index: auto;
		}
		.dockbar .navbar-inner .container .btn-navbar {
/* 		  color: $maincolor-dark; */
		  font-size: 18px;
		  line-height: 18px;
		  margin: 5px 2px;
		  padding: 5px 8px 7px;
		  border-radius: 0;
		}

		.dockbar .container .btn .user-avatar-image {
		  margin-bottom: -3px;
		  margin-top: -6px;
		}

		.navbar .container .btn-navbar:focus,
		.navbar .container .btn-navbar.active, 
		.navbar .container .btn-navbar.disabled, 
		.navbar .container .btn-navbar[disabled] {
		  background-color: transparent;
		}
		.dockbar .navbar-inner .container .btn-navbar:hover,
		.dockbar .navbar-inner .container .btn-navbar.pressed{
/* 		  background-color: $maincolor; */
		  color: #fff;
		}
		.dockbar .navbar-inner .nav-add-controls > li a {
		  text-align: center;
		}
		
/* 		Search Button */

		button#showHideSearch, 
		button#showHideSearch:active {
		  background: none repeat scroll 0 0 transparent;
		  border: medium none;
/* 		  color: $maincolor-dark; */
		  font-size: 18px;
		  height: 35px;
		  margin: 0 2px;
		  padding: 0;
		  position: fixed;
		  right: 97px;
		  text-indent: 0;
		  top: 5px;
		  transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		  width: 25px;
		  z-index: 301;
		}
		button#showHideSearch:hover,
		button#showHideSearch.pressed{
/* 		  background: none repeat scroll 0 0 $maincolor; */
		  color: #fff;
		}
		
/* 		Search Panel */
		.searchDiv > form {
/* 		  margin-left: 2em; */
/* 		  text-align: left; */
/* 		  width: 100%; */
		}
		.searchDiv input[type="text"] {
/* 		  margin: 0 14px 0 2em; */
		  width: 70%;
		}

		
/* 		Header Logo */
		#heading {
		  	bottom: 100%;
		    margin-top: 0;
		    position: static;
		}
		#heading .site-title {
		  margin: 0 0 5px;
		  padding: 0;
		  text-align: left;
		}
  		#heading .site-title a {
		    margin: 0 5px;
		    padding: 0 5px;
		}
		#heading .site-title img {
		  max-height: 1.4em;
		  width: auto;
		}
	}
	
}
 
 
@media (max-width: 767px) {

	html.aui body[class*="core"] {
 	

			#langLbl{
			    margin: 2px 10px;
			}
			#languages {
/* 			    border: 1px solid red; */
			    display: block;
			    line-height: 30px;
			    margin: 2px 6px;
			    opacity: 1;
			    overflow: hidden;
			    vertical-align: middle;
			    white-space: nowrap;
			    height: auto;
			    text-transform: uppercase;
			    			    
			    transition-delay: 0s, 0s, 0s;
				transition-duration: 0.4s, 0.4s, 0.4s;
				transition-property: margin;
				tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-webkit-transition-delay: 0s, 0s, 0s;
				-webkit-transition-duration: 0.4s, 0.4s, 0.4s;
				-webkit-transition-property: margin;
				-webkit-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-moz-transition-delay: 0s, 0s, 0s;
				-moz-transition-duration: 0.4s, 0.4s, 0.4s;
				-moz-transition-property: margin;
				-moz-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
				
				-o-transition-delay: 0s, 0s, 0s;
				-o-transition-duration: 0.4s, 0.4s, 0.4s;
				-o-transition-property: margin;
				-o-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);		
				
				-ms-transition-delay: 0s, 0s, 0s;
				-ms-transition-duration: 0.4s, 0.4s, 0.4s;
				-ms-transition-property: margin;
				-ms-tansition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			}
			.openLang #languages {
/* 			    margin: 20px 6px; */
			 }
			.openLang #languages::before {
			  content: "";
			  font-size: 20px;
			  padding-right: 0px;
			  vertical-align: middle;
			}
			.taglib-language-list-text {
			  padding-right: 8px;
			  display: block;
			  text-align: center;
			}
			span.taglib-language-list-text {
			  color: #fff;
			}
/*			
			#topbar > div#searchDiv {
			  margin-right: -70px;
			}
*/
	}
 }
 

@media (max-width: 480px) {
	
	html.aui body[class*="core"] {
	
		#wrapper #main-content .portlet-login section {
		  background-size: 170px auto;
		}
	
		.columns-max .portlet-topper menu.portlet-topper-toolbar {
/* 			  margin: 0 20px; */
			  max-height: 20px;
			  max-width: 20px;
			  overflow: hidden;
/* 			  padding: 3px 5px; */
		}
		
		.portlet-topper .portlet-topper-toolbar .portlet-icon-back {
			  color: transparent;
			  margin: 0;
			  padding: 0 6px;
		}
		.portlet-topper .portlet-topper-toolbar .portlet-icon-back::before {
		  color: #232222;
		  margin: 4px;
		  padding: 0 10px 0 0;
		}
		
		padding: 0px;
	}
}


 
 