@import "compass";
@import "mixins";

@import url(color_schemes/core-1/loading.css);
@import url(color_schemes/core-2/loading.css);
@import url(color_schemes/core-3/loading.css);
@import url(color_schemes/core-4/loading.css);
@import url(color_schemes/core-5/loading.css);


#waiter {
  background-color: #fff;
  display: block;
  position: fixed;
  z-index: 1003;
  will-change: opacity;
}
#waiter i {
  left: 50%;
  margin: -50px -30px;
  opacity: 0.7;
  position: absolute;
  top: 50%;
}
.lean-overlay {
    position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}

#loader {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px); 
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

@keyframes animate {
  0% { 
    transform: rotate(0deg)
  }
  100% { 
    transform: rotate(220deg)
  }
}

#loader:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%; 
  height: 80px;
  width: 80px;
  position: absolute; 
} 

@keyframes animate2 {
  0% {
    box-shadow: inset #232222 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #f2f2f2 0 0 0 2px;
  }
  100% {
    box-shadow: inset #cac8c8 0 0 0 17px;
    transform: rotate(140deg);
  }
}
