@import "compass";
@import "mixins";

@import url(color_schemes/core-1/so-user-bar.css);
@import url(color_schemes/core-2/so-user-bar.css);
@import url(color_schemes/core-3/so-user-bar.css);
@import url(color_schemes/core-4/so-user-bar.css);
@import url(color_schemes/core-5/so-user-bar.css);

 $maincolor: #38ADC7;
 $maincolor-dark: #008AA9;
 $maincolor-light: #88CEDD;
 
 $maincolor-composed: #004454;
 
 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;	

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;

 $textcolor-bar: #FFF;
 

/* *** General *** */



/* **** so-portlet-user-bar **** */
	
.core.display-panel-columns .so-portlet-user-bar{
	display: none;
}

.core {

	
	.so-portlet-user-bar, 
	.so-portlet-user-bar:hover, 
	.so-portlet-user-bar:visited, 
	.so-portlet-user-bar:active {
	  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
/* 	  color: $maincolor-dark; */
	  font-family: "Roboto",sans-serif;
	  font-size: 14px;
	  font-weight: 200;
	  line-height: 2.5em;
	  padding-right: 0;
	  position: fixed;
	  text-decoration: none;
	  transform: translate3d(10.9em, 2.2em, 0px);
	  -webkit-transform: translate3d(10.9em, 2.2em, 0px);
	  -moz-transform: translate3d(10.9em, 2.2em, 0px);
	  -o-transform: translate3d(10.9em, 2.2em, 0px);
	  -ms-transform: translate3d(10.9em, 2.2em, 0px);
	  
	  z-index: 302;
	}
	
	.so-portlet-user-bar ul, 
	.so-portlet-user-bar li {
		display: block;
		list-style: none outside none;
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}
	
	
	.so-portlet-user-bar a.so-logo:before {
		content: "\f0c0"; /*icon-group*/
		font-family: "fontawesome-alloy";
	}
	
	.so-portlet-user-bar a.so-logo {
/* 	  background: none repeat scroll 0 0 $maincolor; */
	  border: 0 none;
	  border-radius: 0px !important;
/* 	  color: white; */
	  font-size: 18px;
	  font-weight: normal;
	  height: 2em;
	  line-height: 2em;
	  margin: 0;
	  padding: 0;
      text-align: center;
      display: block;
	  width: 2em;
	}
	.so-portlet-user-bar a.so-logo i[class^="icon"] {
	/*   padding: 10px 8px; */
	}
	.so-portlet-user-bar a.so-logo img {
	  display: none;
	}
	
	
	.so-portlet-user-bar a.so-logo:hover, 
	.so-portlet-user-bar a.so-logo:active {
/* 	  background: none repeat scroll 0 0 $maincolor; */
/* 	  color: $maincolor-dark; */
	  font-weight: 200;
	  text-decoration: none;
	}
	
	.so-portlet-user-bar a.dropdown-toggle.openso {
/* 	  background-color: $maincolor; */
	  background-image: none;
/* 	  color: $maincolor-dark; */
	}
	
	.so-portlet-user-bar nav {
		  	display: none;
		    position: absolute;
	}
	.so-portlet-user-bar nav.openso {
		  	display: block;
	}
		
	.so-portlet-user-bar .dashboard-nav {
/* 		  background: none repeat scroll 0 0 $maincolor; */
		  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		  left: 0;
		  min-width: 160px;
		  padding: 5px 0;
		  position: absolute;
		  top: 0;
		  z-index: 301;
	}
	
	.so-portlet-user-bar nav ul.dashboard-nav li a {
	  color: #ffffff;
	  font-size: 0.9em;
	  font-weight: 300;
	  padding: 0.58em 20px;
	  line-height: 20px;
	}
	.so-portlet-user-bar nav ul.dashboard-nav li a:hover{
		  line-height: 20px;
		  color: #FFFFFF !important;
/* 		  background: $maincolor-dark; */
	}
	
		
	
}

