@import "compass";
@import "mixins";

 $color1: #7ec4d1;
 $color2: #233564;
 $color3: #d7715e;
 
 
.core-5 #loader:after {
  animation: animate2core5 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%; 
  height: 80px;
  width: 80px;
  position: absolute; 
} 

 @keyframes animate2core5 {
  0% {
    box-shadow: inset $color1 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset $color2 0 0 0 2px;
  }
  100% {
    box-shadow: inset $color3 0 0 0 17px;
    transform: rotate(140deg);
  }
}

