@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/variables";
@import "compass";
@import "compass/css3/user-interface";
@import "mixins";

$dockbarOpenGradientEnd: #ffffff; 
$dockbarOpenGradientStart: #efefef;

$lightMainColor: #042f65;
$standarLiferayWhite: #FFFFFF;

$lightAlterColor: #6982a4;

$lightGrey: #DDD;
$standardGrey: #555;
$darkGrey: #232222;

$activeResponsiveMenu: #F5AF45;

$dockbarVerticalWidth: 240px;



.aui .core-5 {
	body {
		color: $standardGrey;
	}

	a {
		color: $standarLiferayWhite;

		&:hover {
			color: inherit;
		}

		[class^="icon-"], [class*=" icon-"] {
		}
	}

	.alert {
	}

	li {
	}

	.dockbar {
		&.navbar .navbar-inner {
		}

		.navbar-inner {
			background-color: $lightMainColor;

 			@include background-image(linear-gradient($lightMainColor 0%, $lightMainColor 47%, $lightMainColor 100%)); 

			.nav {
				> li {
					background-color: $lightMainColor;

 					@include background-image(linear-gradient($lightMainColor 0%, $lightMainColor 47%, $lightMainColor 100%)); 
				}
			}

			.container .btn-navbar {
				color: #FFF;

				.user-avatar-image {
					
				}
			}
		}

		.nav {
			> li {
				background: $lightMainColor;

 				@include background-image(linear-gradient($lightMainColor 0%, $lightMainColor 47%, $lightMainColor 100%)); 

				> a {
					color: #FFF;

					&:focus, &:hover {
					}

					&:hover {
						background-color: $standarLiferayWhite;
					}

					[class^="icon-"], [class*=" icon-"] {
					}
				}

				&.active > a {
					color: #FFF;

					&, &:hover, &:focus {
						background: darken($lightMainColor, 10%);
					}
				}

				&.open .dropdown-toggle {
					background-color: $dockbarOpenGradientStart;

 					@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd)); 
					@include box-shadow(none);
				}
			}

			%dockbar-caret {
				&, &:hover {
					.caret {
						border-bottom-color: #FFF;
						border-top-color: #FFF;
					}
				}
			}

			li.dropdown {
				> .dropdown-toggle {
				}

				&.open, &.active, &.open.active {
					> .dropdown-toggle {
						background-color: $lightMainColor;
						color: #FFF;
					}
				}

				.dropdown-menu, .site-administration-menu {
					background: $standarLiferayWhite;

					> li > a {
						color: #FFF;
						

						&:focus, &:hover {
							background: lighten($standarLiferayWhite, 20%);
							@include filter-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd, vertical);
						}

						[class^="icon-"], [class*=" icon-"] {
							
						}

						.icon-spacer {
						}
					}

					li.active > a {
						background: $lightMainColor;
					}
				}

				.dropdown-menu {

					&:after, &:before {
					}
				}
			}

			li.dropdown.user-avatar {
				.dropdown-menu {
				}
			}
		}

		.divider-vertical {
			border-left-color: $darkGrey;
			border-right-color: $standardGrey;
		}
	}

	.app-view-taglib .lfr-header-row-content .select-all-entries {
	}

	.navbar {
		.btn-group, .navbar-search {
		}

		.btn-navbar {
		}

		.container .btn-navbar {
			background: transparent;
			border-color: $lightGrey;

			&:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
				background-color: $lightGrey;
			}

			.icon-bar {
				background: $standardGrey;
			}
		}

		.icon-caret-down {
			background: $lightMainColor;
			background: rgba(255, 255, 255, 0.2);
		}

		.nav > li.open > a {
			background-color: #FFF;
			color: $standardGrey;
		}

		.navbar-inner {
		}
	}

	/* ---------- Nav#Navigation ---------- */

	.modify-pages .delete-tab {
		background: $standardGrey;
		border: 2px solid #FFF;
		color: #FFF;

		&:hover {
			@include box-shadow(0 1px 1px -1px #000)
		}
	}

	/* ---------- Extras ---------- */

	$prefixes: ("-webkit-", "-moz-", "-o-", "");

	@each $prefix in $prefixes {
		::#{$prefix}selection {
			background: $lightMainColor !important;
			color: #FFF;

			@include text-shadow(-1px -1px rgba(0, 0, 0, 0.3));
		}
	}

	.modify-pages .delete-tab {
		@include text-shadow(none);
	}

	input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="password"], input[type="text"], input[type="time"], input[type="week"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], textarea, .uneditable-input {
		@include box-shadow(none);

		&:focus {
			@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));
		}
	}

	.tagselector-focused .tagselector-content .textboxlistentry-holder {
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0));
	}

	.dockbar {
		.nav {
			> li {
				> a {
					@include text-shadow(none);
				}
			}

			li.dropdown {
				.dropdown-menu {
				}
			}
		}

		.container .btn, .nav li.dropdown.user-avatar {
			.user-avatar-image {
				@include box-shadow(0 0 0 2px $dockbarOpenGradientEnd);
			}
		}
	}

	.navbar {
		.container .btn {
			&, .icon-bar {
				@include box-shadow(0 1px 0 #FFF);
			}
		}

		.icon-caret-down {
			@include border-radius(50%);
		}

		.nav {
			> li.open > a {
			}
		}
	}

	.dockbar .container .btn {
		@include box-shadow(none);
	}

	.dockbar-user-notifications {
		.dropdown-toggle .user-notifications-count {
			background-color: $lightAlterColor;
			border: 1px solid $lightAlterColor;
		}

		.user-notifications-header {
			border-bottom: 1px solid darken($lightMainColor, 10%);
		}
	}

	body.yui3-skin-sam .yui3-widget-mask {
	}

	&.ie {
		.dockbar, #navigation {
			.navbar-inner {
			}
		}
	}
}

/* ---------- Classic Dockbar Responsive Styles ---------- */

@include respond-to(phone, tablet) {
	.aui .core-5{
		* {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		#heading {
		
			.site-title {

				img {
				}
			}
		}

		#navigation {

			&.open {

				.navbar-inner {


					.nav-collapse {
					}
				}
			}

			.nav {
			}
		}

		.dockbar {

			.info-items {
			}

			.navbar-inner {

				.btn-navbar {
					background: transparent;
					border: 0 $dockbarOpenGradientEnd;

					&:hover {
						background-color: $dockbarOpenGradientEnd;
					}

					&.open {
						background-color: $lightAlterColor;
					}
				}

				.nav-account-controls {

					.user-avatar-image {
					}
				}

				.nav-add-controls {
					background: transparent;

					> li {

						&.toggle-controls a {
						}

						.page-preview-controls {
						}

						> a {
							background: transparent;

							&:hover {
								background: $lightGrey;
							}

							[class^="icon-"], [class^="icon-"], [class*=" icon-"] {
							}

							&.toggle-controls-link {
								background: transparent;

								[class^="icon-"], [class^="icon-"], [class*=" icon-"] {
									color: #FFF;
								}
							}

							.nav-item-label {
								background: transparent;
							}

							&:hover .nav-item-label {
							}

							.icon-caret-down {
							}
						}
					}
				}

				.nav-collapse {

					&.open {
					}

					> .nav {
						background: $standarLiferayWhite;

						> li {
							&.dropdown {
								.dropdown-menu li a {
								}

								&.open {
									> .dropdown-toggle {
										background-color: lighten($standarLiferayWhite, 20%);
										color: #FFF;
									}
								}
							}

							> a {
								color: #FFF;

								&:focus, &:hover {
									background: lighten($standarLiferayWhite, 20%);
								}
							}
						}
					}
				}
			}
		}

		.portlet-dockbar {
		}

		.signed-out #_145_navAddControlsNavbarBtn {
		}
	}
}

/* ---------- Dockbar-vertical  ---------- */

.aui .core-5 {
	.lfr-has-dockbar-vertical {

		.layer-mobile {
			background: #FFF;
		}
	}

	.lfr-has-add-content {
	}

	.lfr-has-edit-layout {
	}

	.adm-toggle-dockbar {
	}

	.core.dockbar-vertical {
		.adm-toggle-dockbar {
			background-color: transparent;

			&.over {
			}
			
			i.shape-icon-toggle{
			}
		}
		
		.adm-toggle-dockbar:hover {
		}

		.portlet-dockbar {
			.navbar {

				&.over {

					.navbar-inner {

						.nav-collapse ul.nav li.user-avatar>a {
						}
					}
				}

				.navbar-inner {

					.nav-collapse {
						ul.nav {

							li {

								&.user-avatar {
									&>a {

									}

									img {
									}

									&:hover {
										background-color: transparent;

										img {
										}
									}

									.dropdown-menu {

										li {
										}
									}
								}

								&.dockbar-user-notifications {
									.user-notifications-count {
									}

									a {
									}
								}

								a {
								}

								ul {
								}
							}
						}

						ul.nav-add-controls {
							li {

								a span {
								}

								&:hover {
									a {

										span {
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* ---------- Dockbar-vertical Responsive Styles ---------- */

@include respond-to(phone, tablet) {
	.aui .core-5.dockbar-vertical {
	
		&.lfr-has-dockbar-vertical {
		}

		.adm-toggle-dockbar {
		}

		.navbar-static-top {
		}

		#_145_navSiteNavigationNavbarBtn, #_145_navAddControlsNavbarBtn, #_145_navAccountControlsNavbarBtn {
			
		}

		.dockbar.navbar {
			.dockbar-user-notifications .dropdown-toggle .user-notifications-count {
			}

			.container .nav-collapse {
			}
		}
	}
}



/*	ROB	*/

/*Posizionamento del logo sulla Docbar*/
#banner #heading .nav-wrapper .logo.default-logo.brand-logo,
#banner #heading .nav-wrapper .logo.custom-logo.brand-logo {
}
#banner #heading .nav-wrapper #logo-container b {
}
	
	
/* Dackbar NON Administrator (Notifiche e AccountMenu)*/
.aui .core-5{
	
	.innerMaterialize{
		
	  	color: $darkGrey;
	  
		.portlet-dockbar {
		
			.dockbar .navbar-inner {
			  background-color: transparent;
			  background-image: none;
			}
			
			/*Notifications*/
			li.dockbar-user-notifications a.dropdown-toggle span.user-notifications-count {
			}
			
			.dockbar .navbar-inner .container .nav.nav-account-controls li.go-to {
			}
			.dockbar-user-notifications .user-notifications-list .user-notification, 
			.notifications-portlet .user-notifications-list .user-notification {
			}	
			.dockbar .navbar-inner .container .nav.nav-account-controls li {
			  background-color: rgba(0, 0, 0, 0);
			  background-image: none;
			  
			  	
			
				a {
				}
				a:hover {
				  background-color: rgba(0, 0, 0, 0.05);
				}
				
				a.user-notification-link{
				}
				
				a i {
				}
				
				.dropdown-menu {
				  background-color: #fff;
				  padding: 0;
				}
			
	
			}
			.dockbar .navbar-inner .container .nav.nav-account-controls li.dropdown.open {
				
				a.dropdown-toggle {
					  background-color: transparent;
				}
				
				.dropdown-menu {
				
					li {
					  color: rgba(0, 0, 0, 0.87);
					}
					li > a, 
					li > span {
					  color: $lightMainColor;
					}
	
					li a i {
					}
					
					li a span.badge {
					  color: $standardGrey;
					}
				}
			}
			
			
		}
	
	}
	
}


/*WELIVE - Icone Nav in base alla posizione*/

/*Home/Controller - icon-home */
.core-5 ul#dropdownTools li:nth-child(1) a::before {
  	content: "\f015"; 
  	font-family: "fontawesome-alloy";
}


/*Home/Controller - icon-home*/
.core-5 ul#dropdownTools li.Controller a::before {
  	content: "\f015"; 
  	font-family: "fontawesome-alloy";
}
 /*Citizen Data Vault - fa-user-secret*/
.core-5 ul#dropdownTools li.Citizen a::before{
	content: "\f21b";
	font-family: FontAwesome;
}
/*OpenInnovatioArea - icon-lightbulb*/
.core-5 ul#dropdownTools li.Innovation a::before {
	content: "\f0eb"; 
	font-family: "fontawesome-alloy";
}
/*Marketplace - icon-shopping-cart*/
.core-5 ul#dropdownTools li.Marketplace a::before {
  	content: "\f07a"; 
  	font-family: "fontawesome-alloy";
}
/*Opendata Stack - fa-database*/
.core-5 ul#dropdownTools li.Stack a::before{
	content: "\f1c0"; 
	font-family: FontAwesome;
}
/*Analytics Dashboard - fa-pie-chartt*/
.core-5 ul#dropdownTools li.Analytics a::before{
	content: "\f200"; 
	font-family: FontAwesome;
}
/*Visual Composer - fa-cubes*/
.core-5 ul#dropdownTools li.Composer a::before{
	content: "\f1b3"; 
	font-family: FontAwesome;
}


/*Child menu - fa-angle-right */
.core-5 ul#dropdownTools ul.child-menu li a::before {
  	content:"\f105"; 
  	font-family: "FontAwesome";
  	margin-left: 4px;
 	margin-right: 4px;
}
.core-5 ul#dropdownTools ul.child-menu {
  padding-left: 10px;
}


