@import "compass";
@import "mixins";


 $maincolor: #0072BA;
 $maincolor-dark: #195DA9;
 $maincolor-light: #F6E92E;

 $primary-2: #67B2E8;

 $maingrey: #555555;
 $maingrey-light: #EFEFEF;
 $grey-light: #EEEEEE;
 $grey-dark: #CCCCCC;
 $secondary: #B3163A;
 $secondary-light: #CC1A46;

 $dirty-white: #F4F4F1;
 $white: #FFFFFF;
 
 $textcolor-bar: #FFF;
 

@media (max-width: 979px) {
	
	html.aui body.core-3.dockbar-split .dockbar.navbar-static-top .collapse {

	}
	html.aui body.core-3.dockbar-split .dockbar.navbar-static-top .collapse.nav-collapse.open[id*="Account"] {
	}
	
	html.aui body.core.core-3 {
	
		.dockbar-split .portlet-dockbar .dockbar, 
		.portlet-dockbar .dockbar {
		}
		.dockbar .navbar-inner .nav-collapse{
		}
		
		
		#heading .site-title a {
		}
		#heading .site-title img {
		}
		
		.dockbar-split .portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn, 
		.portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn {
/* 		  border: 1px solid red; */
		  color: $maincolor;
		}
		.dockbar-split .portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn:hover,
		.dockbar-split .portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn.pressed, 
		.portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn:hover,
		.portlet-dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn.pressed {
/* 		  border: 1px solid red; */
		  color: #FFF;
		}
		
		.so-portlet-user-bar, 
		.so-portlet-user-bar:hover, 
		.so-portlet-user-bar:visited, 
		.so-portlet-user-bar:active {
		}
		
		.so-portlet-user-bar a.so-logo{
		  background: transparent none repeat scroll 0 0;
/* 		  border: 1px solid red; */
		  color: $maincolor;
		}
		.so-portlet-user-bar a.so-logo:hover {
		  background-color: $maincolor;
		  color: #fff;
		}
				
		a#gotoHome {
		  background: transparent none repeat scroll 0 0;
		  color: $maincolor;
		}
		a#gotoHome:hover{
		  background-color: $maincolor;
		  color: #FFF;
		}
		
		button#showHideSearch, 
		button#showHideSearch:active {
/* 		  border: 1px solid red; */
 			color: $maincolor;
		}
		
		
		/*Menu Account*/
		.dockbar-split .portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav, 
		.portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav {
		  background: #FFF none repeat scroll 0 0;
		}
		
		.dockbar-split .portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav > li, 
		.portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav > li {
		  border-bottom: 0 ;
		  border-top: 0 ;
		}
		
		.dockbar-split .portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav > li a, 
		.portlet-dockbar .navbar-inner .nav-collapse.open > ul.nav > li a {
		  color: $maincolor;
		}
		.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a, 
		.dockbar .navbar-inner .nav-collapse > .nav > li.dropdown .dropdown-menu li a {
		}
		.dockbar.navbar-static-top .collapse {
		}
		.dockbar .nav li.dropdown .dropdown-menu, 
		.dockbar .nav li.dropdown .site-administration-menu {
		  background: #FFF none repeat scroll 0 0;
		}

		/*Menu Edit*/
		.dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], 
		.dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class^="icon-"], 
		.dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link [class*=" icon-"] {
		  color: $maincolor;
		}
		.dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link span {
			  color: $maincolor;
		}
		.dockbar .navbar-inner .nav-add-controls > li.toggle-controls > a:hover i, 
		.dockbar .navbar-inner .nav-add-controls > li.toggle-controls > a:hover span {
		  color: $maincolor;
		}
		.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
		.dockbar-split .dockbar .navbar-inner .nav-collapse > .nav > li > a:hover, 
		.dockbar .navbar-inner .nav-collapse > .nav > li > a:focus, 
		.dockbar .navbar-inner .nav-collapse > .nav > li > a:hover {
			background: rgba(0,0,0,0) none repeat scroll 0 0;
		  	color: #fff;
		}
		
		/*Menu Navigation*/
		.dockbar .navbar-inner .container .btn-navbar:hover, 
		.dockbar .navbar-inner .container .btn-navbar.pressed {
		  color: #fff;
		}
				
		#navigation ul {
		}
		#navigation ul li {
		}
		#navigation .nav > li > a {
		}
		.site-navigation .lfr-nav-item a span {
		}
	
	}/*html.aui body*/ 
}
 
 
@media (max-width: 767px) {
 	
 	
 }
 
@media (max-width: 480px) {
	
	html.aui body.core.core-3 {
	
		 #heading .site-title a {
		}
	}
	
}

 
 