@import "compass";
@import "mixins";

 $color1: #0f6fb3;
 $color2: #1d4986;
 $color3: #f5e745;
 
 
.core-3 #loader:after {
  animation: animate2core3 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%; 
  height: 80px;
  width: 80px;
  position: absolute; 
} 

 @keyframes animate2core3 {
  0% {
    box-shadow: inset $color1 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset $color2 0 0 0 2px;
  }
  100% {
    box-shadow: inset $color3 0 0 0 17px;
    transform: rotate(140deg);
  }
}

